<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增题目</h2>
    </div>
     <form action="{:U()}" method="post" name="fm" enctype="multipart/form-data" class="form-horizontal">
    	<input type="hidden" name="id" value="{$Think.get.id}" />
        <div class="form-item">
            <label class="item-label">题目标题</label>
            <div class="controls">
                <input type="text" class="text input-large" name="field_title" value="{$info.field_title|default=''}">
            </div>
        </div>
        
		<div class="form-item">
            <label class="item-label">是否必答</label>
            <div class="controls">
           				 <label class="radio"><input type="radio" name="request" value="1">是</label>
                         <label class="radio"><input type="radio" name="request" value="0" checked="checked">否</label>
            </div>
        </div>
		
        <div class="form-item">
            <label class="item-label">题目排序</label>
            <div class="controls">
            <input type="text" class="text input-small" name="sort_order" value="{$info.sort_order|default=''}">数字越大越前
            </div>
        </div>
		
		
        
       <div class="form-item">
            <label class="item-label">选择题目类型</label>
            <div class="controls">
            <select name="field_type" class="my_select">
          		<option value="text">单行文本</option>
				<option value="select">下拉菜单</option>
				<option value="radio">单选</option>
          		<option value="checkbox">多选框(多选)</option>
				<option value="file">文件图片附件</option>
                <option value="teshu">特殊</option>
          </select>

            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">图片数量限制</label>
            <div class="controls">
            <input type="text" class="text input-small" name="count_limit" value="{$info.count_limit|default=''}">数字
            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">传图片还是文件名</label>
            <div class="controls">
            	<label class="radio"><input type="radio" name="is_picture" value="1" checked="checked">传图片文件</label>
                <label class="radio"><input type="radio" name="is_picture" value="0">传图片文件名称</label>    
            </div>
        </div>
		
		
		 <div class="form-item">
            <label class="item-label">拍单张图片还是拍多张图片</label>
            <div class="controls">
            	<label class="radio"><input type="radio" name="is_more" value="0" checked="checked">拍单张图片</label>
                <label class="radio"><input type="radio" name="is_more" value="1">拍多张图片</label>    
            </div>
        </div>
        
         <div class="form-item">
            <label class="item-label"><font color="red">设定选项答案.单选，多选</font>的时候(标题和内容用":"隔开，每条用","隔开。如A:不是,B:是) 注意,用英文的</label>
            <div class="controls">
            		<textarea name="nRemark" id="myEditor" cols="56" rows="6">{$info.nRemark|default=''}</textarea>
            </div>
        </div>
        
         
	
      
        
     
      
		<div class="form-item">
              <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
              <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
    
  
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
		
		 //下面用于图片上传预览功能
    function setImagePreview(avalue) {
        var docObj=document.getElementById("doc");
        var imgObjPreview=document.getElementById("preview");
        if(docObj.files &&docObj.files[0]) {
//火狐下，直接设img属性
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.width = '80px';
           // imgObjPreview.style.height = '168px';
//火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        } else {
//IE下，使用滤镜
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            var localImagId = document.getElementById("localImag");
//必须设置初始大小
            localImagId.style.width = "80px";
           // localImagId.style.height = "168px";
//图片异常的捕捉，防止用户修改后缀来伪造图片
            try{
                localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            }
            catch(e){
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty();
        }
        return true;
     }
    </script>
</block>
