<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>修改门店信息</h2>
    </div>
     <form action="{:U()}" method="post" name="fm" enctype="multipart/form-data" class="form-horizontal">
    	<input type="hidden" name="id" value="{$info.store_id}" />
       <div class="form-item">
            <label class="item-label">门店编码</label>
            <div class="controls">
                <input type="text" class="text input-large" name="store_num" value="{$info.store_num|default=''}">
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">大区</label>
            <div class="controls">
            <input type="text" class="text input-small" name="zong_id" value="{$info.zong_id|default=''}">东北，华南，华东
            </div>
        </div>
        
       <div class="form-item">
            <label class="item-label">总店简称</label>
            <div class="controls">
            <input type="text" class="text input-large" name="zong_store_name" value="{$info.zong_store_name|default=''}">
            </div>
        </div>
        
         <div class="form-item">
            <label class="item-label">网店简称</label>
            <div class="controls">
            <input type="text" class="text input-large" name="store_name" value="{$info.store_name|default=''}">
            </div>
        </div>
		
		 <div class="form-item">
            <label class="item-label">门店地址</label>
            <div class="controls">
            <input type="text" class="text input-large" name="store_address" value="{$info.store_address|default=''}">
            </div>
        </div>
        
        
        <div class="form-item">
            <label class="item-label">地域</label>
            <div class="controls">
                <select name="province_id" id="get_province_id">
                	<option value="0">请选择区域</option>
                    <volist name="sheng" id="get_sheng">
                        <option value="{$get_sheng.provinceid}">{$get_sheng.province}</option>
                    </volist>
                </select>
                
               <select name="city_id" id="city_id">
               </select>
                 <script type="text/javascript">
                $('#get_province_id').change(function(){
                 var url = '{:U("/Admin/Store/get_next/")}';
                 var province_id = $(this).val();
				 $.get(url,{province_id:province_id},function(str){
					//var aa="<select><option>aa</option></select>";
                    $('#city_id').html(str);
                 });
                });
				</script>
            </div>
        </div>
        
          <Script language="JavaScript">
var get_province_id = "{$info.province_id}";
			for(var i=1;i<document.all.get_province_id.options.length;i++){
				if(document.all.get_province_id.options[i].value == get_province_id){
					document.all.get_province_id.options[i].selected = true;
				}
			}
</script>
       
      
		<div class="form-item">
              <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
              <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
    
  
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
		
		 //下面用于图片上传预览功能
    function setImagePreview(avalue) {
        var docObj=document.getElementById("doc");
        var imgObjPreview=document.getElementById("preview");
        if(docObj.files &&docObj.files[0]) {
//火狐下，直接设img属性
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.width = '80px';
           // imgObjPreview.style.height = '168px';
//火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        } else {
//IE下，使用滤镜
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            var localImagId = document.getElementById("localImag");
//必须设置初始大小
            localImagId.style.width = "80px";
           // localImagId.style.height = "168px";
//图片异常的捕捉，防止用户修改后缀来伪造图片
            try{
                localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            }
            catch(e){
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty();
        }
        return true;
     }
    </script>
</block>
