<extend name="Public/base" />
<block name="body">
	
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>上传结果管理</h2>
	</div>
	
	<div class="cf">
		<div class="fl">
			<a href="javascript:;" class="btn" onclick="make_excel(1,2,'{:U('Result/make_xls/')}');" target="_blank">批量压缩导出报表</a>
			<button class="btn ajax-post confirm" url="{:U('Result/del')}" target-form="ids" onclick="javascript:layer.load();">批量删除</button>
	    </div>

        
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table-bordered">
    <thead>
        <tr>
		<th  class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th  width="30">ID</th>
		<th  width="30">任务ID</th>
		<th>分店名称</th>
		<th>检查员姓名</th>
		<th>排班时间</th>
		<th>上传地址</th>
		<th>检查开始时间-检查结束时间</th>
       
        <th width="120">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.result_id}" /></td>
			<td>{$vo.result_id} </td>
			<td>{$vo.task_id} </td>
			<td>{$vo.store_name}</td>
			<td>{$vo.uName}</td>
			<td>{$vo.check_date|date="Y-m-d",###}</td>
			<td><a href="#{$vo.address_true}" title="{$vo.address_true}">{$vo.address}</a></td>
            <td>{$vo.check_start_time|date="Y-m-d H:i:s",###}至
			<if condition="$vo['check_end_time'] neq 0">
					{$vo.check_end_time|date="Y-m-d H:i:s",###}
			</if>
			</td>
			
            <td>
              <!--  <a href="javascript:;"  onclick="make_excel2({$vo.task_id},'{:U('Result/make_xls/')}');" target="_blank">导出并生成xls</a>-->
				<a   href="{:U('Result/view?task_id='.$vo['task_id'])}" target="_blank">查看</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    
    <div>
        {$page}
    </div>
 
</block>
<!--
<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script src="__STATIC__/jquery.placeholder.min.js"></script>
	<script type="text/javascript">
	$('input, textarea').placeholder();
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>-->
