<extend name="Public/base" />
<block name="body">
	
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>结果管理</h2>
	</div>
	<div class="cf">
		<div class="fl">
           
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				
				
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table-bordered">
    <thead>
        <tr>
		<th  class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th  width="30">ID</th>
		<th>项目名称</th>
		
		<th>查看管理</th>
        
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.name}</td>
			<td> <if condition="$vo['result_count'] neq 0"><a href="{:U('index?project_id='.$vo['id'])}"></if>查看结果</a>  <font color=red>{$vo.result_count}</font></td>
			
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    
   
    <div id = "page">
        {$page}
    </div>
 
</block>




<block name="script">
<script src="__STATIC__/Page.js"></script>
<!--
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script src="__STATIC__/jquery.placeholder.min.js"></script>
	<script type="text/javascript">
	$('input, textarea').placeholder();
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>-->
</block>
