<extend name="Public/base" />
<block name="body">
	
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$task_name}名称</h2>
	</div>
	<div class="cf">
		<div class="fl">
          
        </div>

        
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table-bordered">
    <thead>
        <tr>
		<th  class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th  width="30">ID</th>
		<th>检查点</th>
		<th>上传者</th>
		<th>上传时间表</th>
		<th>数量(条)</th>
        <th>内容</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.form_field_value_id}" /></td>
			<td>{$vo.form_field_value_id} </td>
			<td>{$vo.cat_name}</td>
			<td>{$vo.uname}</td>
			<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
			<td><font color=red>{$vo.count}</font></td>
			<td>
			 <volist name="vo['list2']" id="sub">
				<font color=red>{$i}.
				<?php 
				$ft_form_field=M("ft_form_field")->where(" field_id=".$sub['field_id'])->find();
				echo substr($ft_form_field['field_title'],0,12)."</font>";
				if($ft_form_field['field_type']=='file'){
							
							echo "(";
							if($ft_form_field['is_picture']){
									echo "传图片文件-";
							}else{
									echo "传图片文件名称-";
							}
							
							if($ft_form_field['is_more']){
									echo "拍多张图片";
							}else{
									echo "拍单张图片";
							}
							echo ")";
				}
				$hou_zui=end(explode('.',$sub['field_value']));
				if($hou_zui=="jpg" or $hou_zui=="jpeg" or $hou_zui=="png" or$hou_zui=="gif")
				{
				
				/*$aa=$sub['field_value'];
						$arr=explode("|",$aa);
						if($arr){
								foreach($arr as $value){ 
									echo $value."  "; 
								} 
						}else{
						
						}*/
				?>
				
					<a href="/{$sub.field_value}" target="_blank">{$sub.field_value}(旧文件名:{$sub.old_name})</a>
				<?php }else{?>
					<?php echo $sub['field_value'];?>
					
					<?php 
					if($ft_form_field['field_type']=='file'){
							echo "(旧文件名:".$sub['old_name'].")";
					}
					
					}
					?>
			
				
				
				<br>
			</volist>
			</td>
			
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    
    <div>
        {$page}
    </div>
 
</block>
<!--
<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script src="__STATIC__/jquery.placeholder.min.js"></script>
	<script type="text/javascript">
	$('input, textarea').placeholder();
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>-->
