<extend name="Public/base"/>
<block name="style">
    <style>
           .add-wrap table tr td.title{
               font-weight: bold;
           }
           .text, .textarea{
               border: #ddd 1px solid;
           }
    </style>
</block>

<block name="body">
    <div class="add-wrap">
    <div class="main-title">
        <h2>新增信息</h2>
    </div>
    <form action="{:U()}" method="post" name="fm" enctype="multipart/form-data" class="form-horizontal">
        <div class="data-table table-striped">
            <table class="table-bordered">
                <tr>
                    <input type="hidden" value="{$res[0]['id']}" name="id"/>
                    <td class="title" width="80">姓名</td>
                    <td><input type="text" class="text input-large" name="username" value="{$res[0]['username']}"></td>
                </tr>
                <tr>
                    <td class="title" width="80">类别</td>
                    <td>
                        <if condition="$res[0]['work_type'] eq 1 ">
                             <input type="radio" checked="checked" name="work_type" value="1"> 医生&nbsp;&nbsp;&nbsp;
                             <input type="radio" name="work_type" value="2"> 护士
                         <else/>
                            <input type="radio" name="work_type" value="1"> 医生&nbsp;&nbsp;&nbsp;
                            <input type="radio" checked="checked" name="work_type" value="2"> 护士
                         </if>
                    </td>
                </tr>
                <tr>
                    <td class="title" width="80">个人简介</td>
                    <td>
                        <textarea name="content" cols="100" rows="10" value="">{$res[0]['content']}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="title" width="80">证件照</td>
                    <td>
                        <input  name="upfile1" id="doc" type='file' onchange="javascript:setImagePreview();"/>
                        <div><img src="{$res[0]['id_photo_url']}" id="preview" width="80"  alt=""/></div>
                    </td>
                </tr>
                <tr>
                    <td class="title" width="80">工作照</td>
                    <td>
                         <input  name="upfile2" id="doc2" type='file' onchange="javascript:setImagePreview2();"/>
                          <div><img src="{$res[0]['work_photo_url']}"  id="preview2" width="80" alt=""/></div>
                    </td>
                </tr>
                <tr>
                    <td class="title" width="80"></td>
                    <td>
                        <button class="btn submit-btn " id="submit" type="submit" target-form="form-horizontal">确 定</button>
                        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </td>
                </tr>
            </table>
         </div>
    </form>

    </div>
</block>

<block name="script">
	<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('Message/index')}');

    //下面用于图片上传预览功能
    function setImagePreview(avalue) {
        var docObj=document.getElementById("doc");
        var imgObjPreview=document.getElementById("preview");
        if(docObj.files &&docObj.files[0]) {
//火狐下，直接设img属性
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.width = '80px';
           // imgObjPreview.style.height = '168px';
//火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        } else {
//IE下，使用滤镜
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            var localImagId = document.getElementById("localImag");
//必须设置初始大小
            localImagId.style.width = "80px";
           // localImagId.style.height = "168px";
//图片异常的捕捉，防止用户修改后缀来伪造图片
            try{
                localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            }
            catch(e){
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty();
        }
        return true;
     }

    //下面用于图片上传预览功能
    function setImagePreview2(avalue) {
        var docObj=document.getElementById("doc2");
        var imgObjPreview=document.getElementById("preview2");
        if(docObj.files &&docObj.files[0]) {
//火狐下，直接设img属性
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.width = '80px';
            //imgObjPreview.style.height = '168px';
//火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        } else {
//IE下，使用滤镜
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            var localImagId = document.getElementById("localImag");
//必须设置初始大小
            localImagId.style.width = "80px";
           // localImagId.style.height = "168px";
//图片异常的捕捉，防止用户修改后缀来伪造图片
            try{
                localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            }
            catch(e){
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty();
        }
        return true;
    }


	
	</script>	    
</block>

