@charset "utf-8";
/**
 * 描    述: oneThink后台主体样式
 * 作用范围：后台独有
 */

/* 头部Logo,主导航
--------------------------------------*/
html {
    height: 100%;
    overflow-y: scroll;
}
body{
    padding: 80px 0 0 0px;
    background-color: #ebebeb;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: #3bbc62 3px solid;
    background-color: #fff;
    border-bottom: #dadadc 1px solid;
    /*background-color: #3B8EAB;*/
}
.header-con{
    width: 1200px;
    margin: 0 auto;
}
.header .logo {
    float: left;
    margin-left: 5px;
    width: 150px;
    height: 50px;
    background: url(/Public/static/images/logo.jpg) no-repeat 0 0px;
}

/* 主导航 */
.main-nav {
    float: left;
    overflow: hidden;
}
.main-nav li {
    float: left;
    width: 90px;
}
.main-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #666;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
.main-nav a:hover {
    background-color:#e7e8ec;
    border-bottom: none 0;
    /*background-color:#4DA2C0;*/
}
.main-nav .current{
    background-color: #3bbc62;
    text-decoration: none;
    /*background-color: #2C7690;*/
}
.main-nav .current a {
    background-color: #3bbc62;
    color: #fff;
    /*background-color: #e7e8ec;*/
    /*background-color: #266E88;*/
}

/* 用户 */
.header .user-bar {
    position: relative;
    float: right;
    margin-right: 20px;
}
.header .user-bar .user-entrance {
    display: block;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 20px;
    height: 20px;
    background: url(../images/bg_icon.png) no-repeat -150px 0;
}
.header .user-bar .user-entrance:hover {
    border-bottom: 0 none;
    text-decoration: none;
}
.header .user-menu {
    position: absolute;
    top: 50px;
    right: -8px;
    width: 140px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.header .user-menu li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
}
.header .user-menu a {
    padding: 0 15px;
}
.header .user-menu a:hover {
    color: #424242;
    background-color: #f5f5f5;
}
.header .user-menu .manager {
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*全部内容*/
.content-warp:after{
    clear: both;
    height: 0;
    content: "";
    display: block;
}
.content-warp{
    width: 1200px;
    margin: 0px auto ;
    border: #dadadc 1px solid;
    border-top: 3px #3bbc62 solid;
    background: url("/Public/static/images/bg-border.jpg") repeat-y scroll 199px 0 #fff;
}
/* 边栏导航样式
------------------------------------------ */
.sidebar {
    width: 199px;
    height: 100%;
    background-color: #fff;
    float: left;
}
.subnav {
    padding-top: 20px;
}

/* 子导航标题栏 */
.subnav h3 {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    /*color: #F6F6F6;*/
    color: #8d8d8d;
    cursor: pointer;
    padding: 0 10px;
    font-weight: normal;
    /*background-color: #7CC5C5;*/
}
.subnav h3 a {
    color:#fff;
    text-decoration: none;
}
.subnav h3 a:hover {
    text-decoration: none;
}
.subnav h3 .icon,
.subnav h3 .icon-fold,
.subnav h3 .recycle {
    float: left;
    margin: 10px 6px 0 0;
    width: 16px;
    height: 16px;
}
.subnav h3 .icon {
    background: url(../images/bg_icon.png) no-repeat -100px 0;
}
.subnav h3 .icon-fold {
    background-position: -75px 0;
}
.recycle {
    background: url(../images/bg_icon.png) no-repeat -125px 0;
}

/* 子导航 */
.side-sub-menu {
    margin: 10px 0;
}
.side-sub-menu > li {
    position: relative;
    margin: 2px -1px 2px 0;
}
.side-sub-menu > li > .item {
    padding:6px 0;
    line-height:20px;
    padding-left: 40px;
    display:block;
    color: #484848;
    text-decoration: none;
    margin: 0 0px 0 10px;
}
.side-sub-menu > li > .item:hover,
.side-sub-menu > li.hover > .item {
    color: #000000;
    text-decoration: none;
    margin-right:1px;
    border-bottom: transparent;
    background-color: #f4f5f9;
}
.side-sub-menu > .current > .item {
    color: #414141;
    text-decoration: none;
}
.side-sub-menu > .current > .item,
.side-sub-menu > .current > .item:hover,
.side-sub-menu > .current.hover > .item {
    /*color: #414141;*/
    background: url(../images/subnav_current.png) no-repeat 165px 12px #3bbc62;
    color: #fff;
}

/* 子菜单 */
.side-sub-menu li .subitem {
    display: none;
    position: absolute;
    top: 0;
    left: 185px;
    z-index: 9;
    width: 150px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.side-sub-menu .hover > .subitem {
    display:  block;
}
.side-sub-menu .subitem .subitem {
    margin-top: -1px;
    left: 150px;
}
.side-sub-menu .subitem .item {
    display: block;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
}
.side-sub-menu .subitem .item:hover {
    text-decoration: none;
    border-bottom: 0 none;
    background: url(../images/subnav_current.png) no-repeat 130px 12px #f5f5f5;
}
.side-sub-menu .subitem > .item {
    border-radius: 0;
    border: 0 none;
    width: auto;
}

/* 内容模块边栏子菜单 */
.subnav-off {
    display: none;
}

/* 后台首页
------------------------------------------------- */
.index-body {
    padding-left: 0;
    background-color: #f6f6f6;
}
.index-main {
    margin: 0 20px;
    padding-top: 30px;
}
/* 首页数据 */
.top-columns {
    margin: 0 0 5px;
    text-align: center;
}
.show-num-mod {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 15px 15px;
    border: 1px solid #cdcdcd;
    background-color: #fff;
}
.show-num-mod dt,
.show-num-mod dd {
    float:left;
    padding: 10px;
}
.show-num-mod dt {
    width: 65px;
    height: 56px;
    line-height: 56px;
}
.show-num-mod dd {
    width: 100px;
    border-left: 1px solid #cdcdcd;
}
.show-num-mod dd strong {
    margin-bottom: 5px;
    height: 30px;
    line-height: 30px;
}
.show-num-mod dd span {
    font-size: 12px;
    letter-spacing: .15em;
}
.show-num-mod dd strong {
    display: block;
    font-size: 20px;
    overflow: hidden
}
.count-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    background: url(../images/count_icon.png) no-repeat;
}
.user-count-icon {
    background-position: 0 0;
}
.user-action-icon {
    background-position: 0 -50px;
}
.doc-count-icon {
    background-position: 0 -100px;
}
.doc-modal-icon {
    background-position: 0 -150px;
}
.category-count-icon {
    background-position: 0 -200px;
}

/* 首页插件模块 */
.columns-mod {
    border: 1px solid #cdcdcd;
}
.columns-mod .hd {
    margin-bottom: 1px;
    padding: 0 10px 0 15px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #cdcdcd;
    background-color: #eee;
}
.columns-mod .hd h5 {
    float: left;
    font-size: 14px;
}
.columns-mod .hd a {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #656565;
    text-align: center;
    border: 1px solid transparent;
    *margin-top: 7px;
}
.columns-mod .hd a:hover {
    color: #656565;
    text-decoration: none;
    border-color: #ccc;
}
.mod-down,
.mod-up {
    display: inline-block;
    margin-top: 8px;
    width: 10px;
    height: 5px;
    vertical-align: top;
    background: url(../images/bg_icon.png) no-repeat;
}
.mod-down {
    background-position: -50px -25px;
}
.mod-up {
    background-position: -75px -25px;
}
.reload {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../images/bg_icon.png) no-repeat -175px 0;
    *margin-top: 3px;
    *cursor: pointer;
}
.columns-mod .hd .title-opt {
    float: right;
}
.columns-mod .bd {
    height: 255px;
    overflow-y: auto;
    background-color: #fafafa;
    *overflow-x:hidden;
}

/* 系统信息列表 */
.sys-info {
    padding: 15px;
    *padding-right: 30px;
}
.sys-info table {
    width: 100%;
}
.sys-info th,
.sys-info td {
    padding: 8px 0;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #e9e9e9;
}
.sys-info th {
    font-weight: normal;
    width: 30%;
    text-align: left;
}


/* 后台内页模块样式
------------------------------------------------- */
#main-content{
    float: left;
    width: 1000px;
    margin-left: 1px;
}
.main {
    padding:20px;
    /*background-color: #f6f6f6;*/
    background-color: #fff;
}
.main-title {
    padding-bottom: 20px;
    *zoom: 1;
}
.main-title:before,
.main-title:after {
    display: table;
    content: "";
}
.main-title:after {
    clear: both;
}
.main-title h2 {
    float: left;
    font-size: 20px;
    font-weight: 400;
    color: #445566;
}
.main-title .tools {
    float: right;
    margin-top: 5px;
}
.main-title .ca {
    display: inline-block;
    margin: 0 10px;
    width: 5px;
    height: 10px;
    background: url(../images/subnav_current.png) no-repeat center center;
}

/* 消息栏 */
.tips-bar {
    margin: 10px 18px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 1px 0 rgba(0,0,255,.05);
}
.tips-bar .i-tips {
    float: left;
    width: 27px;
    height: 25px;
    background: url(../images/i_tips.png) no-repeat;
}
.tips-bar .tips-cnt {
    float: left;
    margin-left: 5px;
    font-size: 12px;
}
.tips-bar .close {
    float: right;
    margin-right: 10px;
    font-size: 20px;
    color: #d5d5d5;
    text-shadow: 0 1px 0 #FFF;
}
.tips-bar .close:hover {
    color: #000;
    opacity: .4;
    filter: alpha(opacity=40);
}

.member-form {
    display: none;
    width: 360px;
    padding: 12px 60px;
}
.member-form i{
    color: red;
}
.admin-form .item{
    margin: 12px 0;
    line-height: 30px;
}
.admin-form .item .text{
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    color: #555;
    padding: 10px 4px;
    border: 1px solid #ccc;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.admin-form .item .text:focus{
    outline: 0;
    outline: thin dotted \9;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.8);
}
.admin-form label{
    color: #666;
    padding-right: 6px;
}

/* 插件配置表单 */
.config-form fieldset {
    margin-bottom: 20px;
}
/* 授权表单 */
.auth-form {
    padding: 15px;
    min-width: 100px;
}

/* 插件钩子弹出层 */
.hooktpl {
    padding: 10px;
    width: 500px;
}
.hooktpl .textarea {
    max-width: 500px;
}
.add-pop-form {
    width: 500px;
}

/* 插件管理-返回顶部配置表单 */
#style_list a:hover {
    border-bottom: 0 none;
    text-decoration: none;
}
/* 插件管理表单 */
.has_config,
.has_adminlist {
    display: block!important;
    margin-left: 0!important;
    margin-bottom: 10px;
}
.has_config.hidden,
.has_adminlist.hidden {
    display: none!important;
}

/* 授权编辑页 */
.checkmod {
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
}
.checkmod dt {
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 1px solid #ebebeb;
    background-color: #ECECEC;
}
.checkmod dd {
    padding-left: 10px;
    line-height: 30px;
}
.checkmod dd .checkbox {
    margin: 0 10px 0 0;
}
.checkmod dd .divsion {
    margin-right: 20px;
}

/* 拖动排序列表 */
.dragsort {

}
.edit_sort {
    display: inline-block;
    border:1px solid #cdcdcd;
    color: #404040;
    line-height: 35px;
    width: 20%;
    height: 376px;

}
.edit_sort span {
    background: #EEEEEE;
    width: 100%;
    display: inline-block;
    font-weight: bold;
    text-indent: 10px;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom:5px;
}
.edit_sort ul {
    padding: 0 5px;
    overflow-y:scroll;
    height: 334px;
}
.edit_sort_l {
    float: left;
    margin-right: 20px;
}
.tab2 p {
    margin-bottom: 10px;
    font-weight: bold;
    text-indent: 15px;
}
.dragsort li {
    margin-bottom: 5px;
    padding: 0 6px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eee;
    background-color: #fff;
    overflow: hidden;
}
.dragsort li em {
    font-style: normal;
}
.dragsort li b {
    display: none;
    float: right;
    padding: 0 6px;
    font-weight: bold;
    color: #000;
}
.dragsort li:hover b {
    display: block;
}
.dragsort .draging-place {
    border-style: dashed;
    border-color: #ccc;
}

/* 版权信息 */
.cont-ft {
    padding: 0 15px;
    background-color: #f6f6f6;
}
.copyright {
    height: 39px;
    line-height: 39px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.copyright a {
    margin: 0 4px;
}

/*订单列表--查询*/
.term-li{
    float: left;
    height: 40px;
    font-size: 12px;
    min-width: 240px;
    overflow: hidden;
}
.term-wight{
   width: 90%;
}
.termbtn{
    float: right;
}
#showTerm{
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
#allTerm{
    border: 1px solid #e7e7e7;
    padding: 10px
}
#allTerm.showmore .more-term{
    display: block;
}
.more-term{
    display: none;
}
#allTerm.showmore .term-wight{
    width: 100%;
}
#allTerm.showmore .termbtn{
   float: left;
   width: 100%;
    margin-bottom: 5px;
    padding-left: 26px;
}
.more-term .term-li,#allTerm.showmore .term-wight .term-li{
    /*width: 100%;*/
    width: 310px;
}
.data-table tr td a,.data-table tr td a:hover{
    text-decoration: none;
    color: #3b8eab;
}

/*查看账户*/
.tabBox:after,.tabLook:after,.btnDiv:after{
    clear: both;
    height: 0;
    content: "";
    display: block;
}
.tabLook{
    width: 100%;
    margin: 0 auto;
    height: 50px;
}
.tabLook li{
    width: 50%;
    *width: 49%;
    height: 35px;
    line-height: 35px;
    float: left;
    text-align: center;
    background-color: #e2e2e2;
    cursor: pointer;
}
.tabLook li.cur{
    background-color: #60d295;
    /*background-color: #04bfbf;*/
    color: #fff;
}
.btnDiv{
    width: 100%;
    padding: 10px 0;
    height: 40px;
    text-align: center;
}
/*收费服务修改--弹框*/

.e_charge:after,.charge-list:after{
    clear: both;
    height: 0;
    content: "";
    display: block;
}
.e_charge{
    padding: 10px 10px 10px 30px;
    /*border-bottom: #ccc 1px solid;*/
    *float: left;
}
.charge-list{
    width: auto;
    margin: 0 auto;
}
.e_charge .term-li{
    width: 100%;
}
/*医院服务*/
.e_charge .ids{
    float: left;
    margin: 10px 5px 0 0;
}
/*服务白名单设置--弹框*/
.h_step{
    /*width: 100%;*/
    height:345px;
    padding: 20px;
    overflow-y: scroll;
}
/*.ul_h_list li{*/
    /*width: 100%;*/
    /*height: auto;*/
    /*float: left;*/
/*}*/
/*.ul_h_list li .num{*/
    /*width: 20%;*/
    /*float: left;*/
/*}*/
/*.ul_h_list li .name{*/
    /*width: 50%;*/
    /*float: left;*/
/*}*/
/*.ul_h_list li .opt{*/
    /*width: 30%;*/
    /*float: left;*/
/*}*/
.searchBtn{
    width: 80px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    background-color: #3bbc62;
    border-radius: 4px;
    float: right;
    cursor: pointer;

}
.clearf{
    margin-right: 85px;
    position: relative;
}
.searchInput{
    width: 100%;
    height: 32px;
    line-height: 32px;
    border: #ccc 1px solid;
    padding:0 5px 0 30px;
    box-sizing: border-box;
    *height: 32px;
    *line-height: 32px;
}
.icon_search{
    width: 16px;
    height: 16px;
    background: url("../images/bg_icon.png") no-repeat scroll -50px 0 rgba(0, 0, 0, 0);
    display: inline-block;
    *zoom: 1;
    *display: inline;
    position: absolute;
    left: 10px;
    top: 9px;
}
.search_results{
    width: 100%;
    height: auto;
    max-height: 330px;
    _height: 330px;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 32px;
    background-color: #fff;
    border: #ccc 1px solid;
    border-top: 0 none;
    box-sizing: border-box;
}
ul.ul_search_results li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left;
    border-bottom: #ccc 1px solid ;
}
ul.ul_search_results li.active{
    background-color: #f0f0f0;
}
ul.ul_search_results li .opt{
    width: 90px;
    float: right;
    color: #3bbc62;
    cursor: pointer;
}
ul.ul_search_results li .word{
    padding-left: 10px;
    width: auto;
}
.icon_add{
    width: 16px;
    height: 13px;
    background: url("../images/bg_icon.png") no-repeat scroll -98px -23px rgba(0, 0, 0, 0);
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.thinkbox-default .h_list table, .thinkbox-default .h_list table tr, .thinkbox-default .h_list table td{
    padding: 8px;
}
.h_list table tr td.h_opt{
    cursor: pointer;
}
.noData{
    text-align: center;
}