<extend name="Public/base" />
<block name="body">
	<!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table-bordered">
    <thead>
        <tr>
	
		
        <th>点击类型</th>
        <th>来源设备类型</th>
        <th>浏览器</th>
        <th>IP</th>
		<th>时间</th>
		
		
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
           
			<td>{$vo.click_type} </td>
			<td>{$vo.from_type}</td>
			<td>{$vo.from_browser}</td>
			<td>{$vo.from_ip}</td>
			<td>{$vo.click_time}</td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    
    <div>
        {$page}
    </div>
 
</block>

