<extend name="Public/base"/>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>行为日志</h2>
	</div>

    <div class="cf">
        <button class="btn ajax-get confirm" url="{:U('clear')}">清 空</button>
		<button class="btn ajax-post confirm" target-form="ids" url="{:U('remove')}">删 除</button>
        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <form action="{:U()}" method="get" class="form" >
            <div class="sleft">
                <input type="text" name="action_name" class="search-input" style="width:150px;" value="{:I('action_name')}" placeholder="行为名称">
                <!--<a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>-->
            </div>
            <div class="sleft">
                <input type="text" name="user_name" class="search-input" style="width:100px;" value="{:I('user_name')}" placeholder="执行者">
                <!--<a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>-->
            </div>
            <div class="sleft">
                <input type="text" name="starttime" onclick="WdatePicker()" class="search-input" style="width:100px;" value="{:I('starttime')}" placeholder="开始执行时间">
                <!--<a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>-->
            </div>
            <div style="float: left ; padding: 5px 10px 0 0px;">
                --
            </div>
            <div class="sleft">
                <input type="text" name="endtime" onclick="WdatePicker()" class="search-input" style="width:100px;" value="{:I('endtime')}" placeholder="结束执行时间">
                <!--<a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>-->
            </div>
            <div class="termbtn">
                <!--<a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>-->
                <button class="btn" id="submit" type="submit">查询</button>
            </div>
            </form>
        </div>
    </div>
	<!-- 数据列表 -->
	<div class="data-table">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">编号</th>
		<th class="">行为名称</th>
		<th class="">执行者</th>
		<th class="">执行时间</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.title}</td>
			<td>{$vo.nickname}</td>
			<td><span>{$vo.create_time|time_format}</span></td>
			<td><a href="{:U('Action/edit?id='.$vo['id'])}">详细</a>
				<a class="confirm ajax-get" href="{:U('Action/remove?ids='.$vo['id'])}">删除</a>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div>
        {$page}
    </div>
 

</block>
<block name="script">
    <script src="__STATIC__/lib/my97datepicker/WdatePicker.js"></script>	
<script type="text/javascript">
$(function(){
	$("#action_add").click(function(){
		window.location.href = $(this).attr('url');
	})
})
</script>
</block>
