<extend name="Public/base" />
<block name="body">
	
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>门店管理</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('Admin/Store/add')}">新增门店</a>
			<a class="btn" href="#" onClick="openW('批量导入门店','{:U('/Admin/Store/upload')}');">批量导入门店</a>
			<a class="btn" href="/Public/xls/store_moban.xlsx">下载门店模板</a>
        </div>

        
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table-bordered">
    <thead>
        <tr>
		<th  class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th  width="30">ID</th>
		<th>网点编码</th>
		<th>大区</th>
		<th>总店简称</th>
		<th>网点简称</th>
        <th>省份-城市</th>
        <th>地址</th>
        <th width="80">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.store_id}" /></td>
			<td>{$vo.store_id} </td>
			<td>{$vo.store_num}</td>
			<td>{$vo.zong_id}</td>
			<td>{$vo.zong_store_name}</td>
            <td><a href="#" title="{$vo.zong_store_full_name}" onclick="javascript:alert('{$vo.store_full_name}');">{$vo.store_name}</a></td>
			<td>{$vo.province}-{$vo.city}</td>
            <td>{$vo.store_address}</td>
            <td>
                <a href="{:U('Store/edit?id='.$vo['store_id'])}">修改</a>
                <a href="{:U('Store/del?id='.$vo['store_id'])}" class="confirm ajax-get" confirm-msg="删除这个操作">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    
    <div>
        {$page}
    </div>
 
</block>
<!--
<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script src="__STATIC__/jquery.placeholder.min.js"></script>
	<script type="text/javascript">
	$('input, textarea').placeholder();
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>-->
