<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>修改</h2>
    </div>
     <form action="{:U()}" method="post" name="fm" enctype="multipart/form-data" class="form-horizontal">
    	<input type="hidden" name="id" value="{$info.id}" />
        <div class="form-item">
            <label class="item-label">任务时间</label>
            <div class="controls">
                <input type="text" class="text input-large" name="builddate" value="{$info.builddate|default=''}">
            </div>
        </div>
        
       
        
         <div class="form-item">
            <label class="item-label">指派人员</label>
            <div class="controls">
                <select name="user_id">
                		
                    <volist name="user" id="vo">
                        <option value="{$vo.user_id}">{$vo.uname}</option>
                    </volist>
                </select>
            </div>
        </div>
        <Script language="JavaScript">
var user_id = "{$info.user_id}";
			for(var i=1;i<document.all.user_id.options.length;i++){
				if(document.all.user_id.options[i].value == user_id){
					document.all.user_id.options[i].selected = true;
				}
			}
</script>

<div class="form-item">
            <label class="item-label">指定项目</label>
            <div class="controls">
               <select name="project_id" id="project_id" >
					<option value="0"> 请选择项目</option>
					<volist name="project" id="vo">
						<option value="{$vo.id}">{$vo.name}</option>
					</volist>
				</select>
            </div>
        </div>
        <Script language="JavaScript">
var project_id = "{$info.project_id}";
			for(var i=1;i<document.all.project_id.options.length;i++){
				if(document.all.project_id.options[i].value == project_id){
					document.all.project_id.options[i].selected = true;
				}
			}
</script>

<div class="form-item">
            <label class="item-label">指定门店</label>
            <div class="controls">
                <select name="store_id">
                		
                    <volist name="store" id="vo">
                        <option value="{$vo.store_id}">{$vo.store_name}</option>
                    </volist>
                </select>
            </div>
        </div>
        <Script language="JavaScript">
var store_id = "{$info.store_id}";
			for(var i=1;i<document.all.store_id.options.length;i++){
				if(document.all.store_id.options[i].value == store_id){
					document.all.store_id.options[i].selected = true;
				}
			}
</script>
      
       <div class="form-item">
            <label class="item-label">备注</label>
            <div class="controls">
                <input type="text" class="text input-large" name="task" value="{$info.task|default=''}">
            </div>
        </div>
		
		
		<div class="form-item">
              <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
              <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
    
  
</block>


