<extend name="Public/base" />
<block name="body">
	
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>排班安排计划</h2>
	</div>
	<div class="cf">
		<div class="fl">
			
			<a class="btn" href="{:U('/Admin/Task/index')}">列表显示</a>  
			<a class="btn" href="{:U('/Admin/Task/index_date')}">日历显示</a>  
            <a class="btn" href="#" onClick="openW('批量上传任务','{:U('/Admin/Task/upload')}');">批量导入数据</a>   
			<a class="btn" href="/Public/xls/task_moban.xls" target="_blank">下载日程安排模板</a></h3>
			<button class="btn ajax-post confirm" url="{:U('Task/del')}" target-form="ids" >批量删除</button>
        </div>

          <!-- 高级搜索 -->
        <div class="search-form">           
        	<div style="margin:10px 0px; float:left;">
            	  
            <div class="fl">
            <select name="user_id" style="margin-right: 10px;">
				<option value="0"> 请选择工作人员</option>
               <volist name="user" id="vo">
				<option value="{$vo.user_id}">{$vo.uname}({$vo.user_name})</option>
			 </volist>
            </select>
			
          <Script language="JavaScript">
var user_id = "{$Think.get.user_id}";
			for(var i=1;i<document.all.user_id.options.length;i++){
				if(document.all.user_id.options[i].value == user_id){
					document.all.user_id.options[i].selected = true;
				}
			}
</script>

            </div>
           		          		
            <div class="fl">
            <select name="store_id" style="margin-right: 10px;">
                    <option value="0"> 请选择门店</option>
					<volist name="store" id="vo">
						<option value="{$vo.store_id}">{$vo.store_name}</option>
					</volist>
            </select>
			
             <Script language="JavaScript">
var store_id = "{$Think.get.store_id}";
			for(var i=1;i<document.all.store_id.options.length;i++){
				if(document.all.store_id.options[i].value == store_id){
					document.all.store_id.options[i].selected = true;
				}
			}
</script>

            </div>          
           		&nbsp; 
<input style="height: 24px;line-height: 26px;padding: 2px 4px; width: 100px;" type="text"  onclick="WdatePicker()" placeholder="开始时间" value="{:I('get.start_time')}" name="start_time"/>
&nbsp; 
<input style="height: 24px;line-height: 26px;padding: 2px 4px; width: 100px;" type="text"  onclick="WdatePicker()" placeholder="结束时间" value="{:I('get.end_time')}" name="end_time"/> 
<!-- 
&nbsp;   
<input style="height: 24px;line-height: 26px;padding: 2px 4px; width: 100px;" type="text"   placeholder="门店名称或ID" value="{:I('get.keywords')}" name="keywords"/>     -->  
            </div>        
            <a class="btn" id="search" url="{:U('index')}" style="float:right; margin-right:70px;" >查询</a>   
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table-bordered">
    <thead>
        <tr>
		<th  class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th  width="50">任务ID</th>
		<th>任务时间</th>
		<th>任务人</th>
		<th>门店简称</th>
		<th>备注</th>
        <th width="120">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.builddate}</td>
			<td>{$vo.uname}</td>
			<td>{$vo.store_name}</td>
            <td>{$vo.task}</td>
			
            <td>
			<a href="{:U('Task/edit?id='.$vo['id'])}">修改</a>
			<a href="#" onClick="openWindow('查看日志','{:U('/Admin/Task/task_log/?id='.$vo['id'])}',800,600);">查看日志</a>
                <a href="{:U('Task/del?id='.$vo['id'])}" class="confirm ajax-get" confirm-msg="删除这个操作">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    
    <div>
        {$page}
    </div>
 
</block>
<block name="script">
	<script src="__STATIC__/jquery.placeholder.min.js"></script>
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <script src="__STATIC__/lib/my97datepicker/WdatePicker.js"></script>
    <script type="text/javascript">
      
	$('input, textarea,select').placeholder();
	//搜索功能
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
		var query2  = $('.search-form').find('select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query+'&' + query2;
        }else{
            url += '?' + query+'&' + query2;;
        }
		window.location.href = url;
	});
    </script>
</block>

