<extend name="Public/base" />
<block name="body">
	
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>任务修改日志</h2>
	</div>
	<div class="cf">
		

        
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table-bordered">
    <thead>
        <tr>
		<th  class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th  width="50">任务ID</th>
		<th>变更类型</th>
		<th>时间</th>
		<th>内容</th>
		
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.log_type}</td>
			<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
			<td>{$vo.task_log_content}</td>
           
			
            
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    
    <div>
        {$page}
    </div>
 
</block>
<!--
<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script src="__STATIC__/jquery.placeholder.min.js"></script>
	<script type="text/javascript">
	$('input, textarea').placeholder();
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>-->
