<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<style>
body{padding:10px; font-size:14px; background:#fff; width:90%; margin:0 auto;}
p{margin-bottom:20px;}
button,input{border:1px solid #999; padding:5px 10px; margin:0 10px 10px 0;}
button{ cursor:pointer;}
</style>
<body>
<script>
function chkForm()
{
	var index = layer.load(0, {shade: false});
	document.form.submit();
}
//获取当前窗口索引
var index = parent.layer.getFrameIndex(window.name);
function closelayer()
{
	parent.layer.close(index);

}
</script>
 <form id="form" name="form" method="post"  action="?action=add" enctype="multipart/form-data" action="{:U()}">
<p>

<strong><label>附件：</label></strong>
<input type="file" name="file1" >					
<br>
</p>


<input type="button" value="提交保存" class="my_submit"  onclick="chkForm();"/>
<input type="button" value="关闭窗口" class="my_submit"  onclick="closelayer();"/>
</form>






</body>
</html>
