@charset "utf-8";*{margin:0;padding:0}
body{font:normal 14px/20px arial,sans-serif;background:#fff none;color:#666;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:none}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
ul,ol,li{list-style:none}
em,i{font-style:normal}
img{border:0}
input,img{vertical-align:middle}
a{text-decoration:none}
.clrfix:after{clear:both;display:block;height:0;visibility:hidden;content:"."}
.hide{display:none!important}
.v-page{position:relative;z-index:100}
.float-page{position:absolute;left:0;top:0;background-color:#fff;width:100%}
.qn_header{background:#25a4bb;position:relative;border-bottom:1px solid #1b7a8b;padding:6px 0 4px;text-align:center;color:#fff;height:33px;line-height:33px; padding:5px 0;}
.qn_header .logo{position:absolute;right:9px;top:6px;height:33px;width:29px;background:url(../images/logo_2x.png) no-repeat;background-size:100% auto}
.qn_header .back_home{position:absolute;width:40px;height:44px;left:0;top:0;display:block;outline:0}
.qn_header .back_home i{position:absolute;left:15px;top:16px;border-left:3px solid #fff;border-top:3px solid #fff;width:7px;height:7px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.qn_header h1{font:16px/30px Microsoft Yahei}
.qn_header .back{position:absolute;top:0;left:0;width:42px;height:42px;cursor:pointer}
.qn_header .back a{display:block;width:100%;height:100%;opacity:0}
.qn_header .right{position:absolute;right:0;top:0;width:42px;height:42px;line-height:42px;cursor:pointer;color:#fff}
.qn_header .right.hover{background:#058298}
.qn_header .right.price_calendar{right:40px}
.qn_header .right.query{right:48px}
.qn_header .home_city{position:absolute;right:29px;top:6px;width:15px;height:30px;background:#25a4bb url("../images/home_v2.png") no-repeat 1px 9px;background-size:146px 203px}
.qn_header .home_city a{display:inline-block;color:#fff;padding-right:15px;font:15px/30px microsoft yahei;position:absolute;right:0;top:0;white-space:nowrap}
.qn_header .l_name{font:16px/18px microsoft yahei}
.qn_header .l_num{font:12px/15px microsoft yahei}
.qn_header .filter{position:absolute;width:40px;right:10px;top:5px;color:#fff;font-size:35px;cursor:pointer;text-align:center;font:10px/18px microsoft yahei}
.qn_header .filter .icon{display:block;margin:0 auto;width:19px;height:19px;background:url(../images/arrow2_2x.png) no-repeat;background-size:19px auto;line-height:0}
.qn_header .close{position:absolute;right:12px;top:5px;color:#fff;font-size:35px;cursor:pointer;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.qn_header .confirm{position:absolute;right:12px;top:5px;cursor:pointer;font:16px/24px microsoft yahei;color:#fff;border:1px solid #fff;border-radius:3px;padding:2px 15px}
.banner_box{background:no-repeat center top;background-size:100% auto;height:130px;margin:0 auto 10px;width:320px;z-index:100;overflow:hidden}
.banner_box a{display:block}
.list_wrap{position:relative;margin:0 auto}
.clrfix:after{clear:both;content:".";display:block;height:0;visibility:hidden}
.seach_wrap{margin:0 auto;width:320px;height:34px;position:relative; padding:5px 0;}
.seach_box{position:absolute;border:2px solid #f50;margin:0 auto;width:300px;height:32px;background-color:#FFF;left:10px}
.seach_box_swap{position:relative;height:32px;width:100%}
.seach_box .inp_text{position:absolute;font:16px/24px microsoft yahei;text-indent:31px;text-align:left;color:#b5b5b5;border:0;outline:0;width:224px;height:40px;background:url("../images/home_v1.png") no-repeat -87px 5px;background-size:146px 203px}
.seach_box .inp_text:focus{color:#333}
.seach_box .btn{position:absolute;right:0;text-indent:10px;display:inline-block;letter-spacing:.3em;vertical-align:top;color:#FFF;font:16px/30px microsoft yahei;width:72px;height:32px;text-align:center;overflow:hidden;background:#f50}
.zt_box{position:relative}
.zt_box a{display:block;width:320px;height:134px;position:absolute;top:0;left:0}
.js_package_suggest_container{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:none repeat scroll 0 0 #fff;border-color:-moz-use-text-color #ff8e00 #ff8e00;border:1px solid #ff8e00;border-style:none solid solid;border-width:0 1px 1px;left:10px;position:absolute;top:42px;width:300px;display:block;z-index:100}
.js_package_suggest_container li{cursor:pointer;font:12px/24px microsoft yahei;color:#666;padding:0 10px}
.js_package_suggest_container li b{color:#ccc}
.js_package_suggest_container li em{color:#f60}
.js_package_suggest_container li.active{background:#555;color:#fff}
.trip_info_box_b{padding:0 10px;width:300px;margin:0 auto 10px}
.trip_box a{position:relative;z-index:1;width:100%;height:100%;display:block}
.trip_box h4{width:100%;display:block;position:absolute;bottom:10px;left:0;font:15px/20px microsoft yahei;color:#333;text-align:center;letter-spacing:1px;white-space:nowrap}
.trip_box{float:left;height:80px;text-align:center;width:74px;border:1px solid #ddd;border-right:0;background-color:#FFF}
.yl_box{border-right:1px solid #ddd;width:73px}
.trip_box span{background:url(../images/home_v2.png) #FFF no-repeat;background-size:146px 250px;display:block;height:41px;margin:5px auto 0;width:41px}
.yl_box span{background-position:-3px -205px}
.gny_box span{background-position:-3px -163px}
.cjy_box span{background-position:-53px -163px}
.qz_box span{background-position:-113px -163px}
.trip_info_box_a{width:320px;margin:10px auto 0}
.zby_box{border:0;float:left;height:111px;width:145px;border-bottom:5px solid #00b0ff;margin:0 0 10px 10px;background-color:#3bb1ef;text-align:left}
.zby_box h1{font:bold 18px/33px microsoft yahei;text-indent:10px;color:#fff;letter-spacing:1px}
.zby_box h2{font:12px/20px microsoft yahei;text-indent:10px;color:#fff}
.zby_box span{background:url(../images/home_v2.png) no-repeat -33px -30px;background-size:146px 250px;display:block;height:60px;margin:0 auto;width:140px}
.tj_box{border:0;float:left;height:111px;width:145px;border-bottom:5px solid #d01616;margin:0 0 10px 10px;background-color:#e62b2b;text-align:left}
.tj_box h1{font:bold 18px/33px microsoft yahei;text-indent:10px;color:#fff;letter-spacing:1px}
.tj_box h2{font:12px/20px microsoft yahei;text-indent:10px;color:#fff}
.tj_box a{position:relative}
.tj_box .t_j{background:url(../images/home_v2.png) no-repeat scroll -21px -96px;background-size:146px 250px;display:block;height:41px;margin:0 auto;width:126px;padding:10px}
.tj_box .big_sale{position:absolute;margin:0;background:url(../images/home_v2.png) no-repeat 7px -32px;background-size:146px 250px;display:block;height:41px;auto;width:40px;top:0;right:10px}
#local-page .logo{display:none}
.banner_list li{float:left}
.carousel_mt{margin-top:-45px}
.carouselbox{border:1px solid #d8d8d8;margin:0 auto;overflow:hidden;margin-top:16px;width:211px;-webkit-box-shadow:0 0 3px rgba(0,0,0,0.2);-moz-box-shadow:0 0 3px rgba(0,0,0,0.2);box-shadow:0 0 3px rgba(0,0,0,0.2)}
.carousel{height:146px;overflow:hidden;width:2000px;position:relative}
.carousel li{padding:8px;float:left}
.carousel_contrl{padding:13px 0 10px;text-align:center}
.carousel_contrl span{margin:0 4px;display:inline-block;background:#e0e0e0;border:1px solid #cbcbcb;height:16px;width:16px;-webkit-border-radius:9px;border-radius:9px}
.carousel_contrl .active{background:#f90}
.trip_type{border-bottom:1px solid #fff;margin-bottom:-1px;position:relative;z-index:100;padding-bottom:18px}
.trip_type .item{box-shadow:0 0 5px rgba(234,234,234,1);border:1px solid #d8d8d8;padding:5px;width:240px;margin:24px auto 0}
.trip_type .item img{vertical-align:middle}
.trip_type .item dl{position:relative;z-index:1}
.trip_type .item .title{cursor:pointer;position:absolute;left:0;bottom:0;width:100%;line-height:20px;color:#fff;background-color:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#80000000',GradientType=0)}
.trip_type .item .title h3{color:#fff;font:12px/20px microsoft yahei;padding:0 10px}
.trip_type .item .title span{display:block;color:#fff000;font-size:18px;padding:0 10px;text-align:right}
.trip_type .item .title span b{font-family:microsoft yahei;font-weight:normal;font-size:16px}
.trip_type .item .type{position:absolute;left:-8px;top:-3px}
.trip_type .item .disinfo{position:absolute;right:0;top:10px}
.trip_type .item .disinfo span{display:block;height:15px;text-indent:-9999px;margin-right:10px;background:url(../images/stand_2x.png) no-repeat}
.trip_type .item .disinfo .stand{background-position:0 0;background-size:100% auto;width:96px}
.trip_type .item .disinfo .resist{background-position:-114px 0;background-size:100% auto;width:86px}
.trip_type .item .type b{padding:0 15px;display:inline-block;color:#fff;background:#fff;font:16px/25px microsoft yahei}
.trip_type .item .type b.green{background:#75bb5d}
.trip_type .item .type b.pink{background:#fe0047}
.trip_type .item .type .arrow{display:block;background:url(../images/icoarrow_2x.png) no-repeat;background-size:3px 3px;width:3px;height:3px}
.loading_more{position:relative;z-index:0;color:#25a4bb;font:16px/20px microsoft yahei;text-align:center;border-top:1px dotted #ccc;padding:18px 0;cursor:pointer}
.loading_more span{background:url(../images/loadingmore_2x.png) no-repeat right 4px;background-size:10px 14px;padding-right:17px}
.book_now{border-bottom:1px solid #a8a8a8;padding:12px 0 8px;text-align:center;cursor:pointer;background:-webkit-linear-gradient(top,#f1f1f1,#c8c8c8);background:-moz-linear-gradient(top,#f1f1f1,#c8c8c8);background:-ms-linear-gradient(top,#f1f1f1,#c8c8c8);background:-o-linear-gradient(top,#f1f1f1,#c8c8c8);background:linear-gradient(top,#f1f1f1,#c8c8c8)}
.book_now a{display:inline-block;font:24px/38px microsoft yahei;color:#fff;padding:0 46px;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:1px 1px 2px rgba(168,168,168,1);box-shadow:1px 1px 2px rgba(232,232,232,1);background:-webkit-linear-gradient(top,#ff812d,#ff6702);background:-moz-linear-gradient(top,#ff812d,#ff6702);background:-ms-linear-gradient(top,#ff812d,#ff6702);background:-o-linear-gradient(top,#ff812d,#ff6702);background:linear-gradient(top,#ff812d,#ff6702)}
.qn_index_list{position:relative}
.qn_index_list .search{position:relative;padding:5px 10px;background:#25a4bb;border-bottom:1px solid #1b7a8b;text-align:center}
.qn_index_list .search .input{padding:0 30px;height:30px;overflow:hidden;background:#fff}
.qn_index_list .search input{height:30px;width:100%;margin-right:30px;border:0;font:14px/30px Microsoft YaHei;outline:0}
.qn_index_list .search_icon{position:absolute;top:0;left:0;width:40px;height:40px}
.qn_index_list .delete_icon{position:absolute;top:0;right:0;width:40px;height:40px}
.qn_index_list .content{position:relative}
.qn_index_list dt{padding:3.5px 10px;border-bottom:1px solid #cacaca;color:#999;font-size:14px;background:#f3f3f3}
.qn_index_list dd{height:27px;padding:5px 10px;font-size:16px;line-height:27px;border-bottom:1px solid #cacaca;overflow:hidden}
.qn_index_list dd.hover{background:#bdf5ff}
.qn_index_list label{margin:0 0 0 10px}
.qn_index_list .content .search_result{position:absolute;top:0;left:0;z-index:100;width:100%;background:#fff}
.qn_index_list .content .location{padding-left:30px}
.qn_index_list .bar{display:none;position:absolute;bottom:40px;right:0;font-size:8px;color:#999;-webkit-text-size-adjust:none}
.qn_index_list .bar li{padding:.7px 10px .5px 20px;height:15px;text-align:right;line-height:15px}
.qn_index_list .bottom .btn{padding:15px 10px;background-color:#f3f3f3}
.qn_index_list .bottom .reset{display:inline-block;float:left;width:35px;padding:10px 25px;border:1px solid #ccc;background:-webkit-linear-gradient(top,#fefefe 0,#e0e0e0 100%)}
.qn_index_list .bottom .reset.hover{background:-webkit-linear-gradient(top,#d0d0d0 0,#eee 100%)}
.qn_index_list .bottom .confirm{display:block;margin:0 10px 0 100px;padding:10px 0;width:65%;background-color:#ff9036;color:#fff;text-align:center;background:-webkit-linear-gradient(top,#ffa442 0,#ff801a 100%)}
.qn_index_list .bottom .confirm.hover{background:-webkit-linear-gradient(top,#e86800,#ff8400);background:-moz-linear-gradient(top,#e86800,#ff8400);background:linear-gradient(top,#e86800,#ff8400)}
.qn_index_list .bottom .goTop{height:40px;line-height:40px;border-top:1px solid #cacaca;background:-webkit-linear-gradient(top,#fefefe,#e0e0e0);background:-moz-linear-gradient(top,#fefefe,#e0e0e0);background:linear-gradient(top,#fefefe,#e0e0e0)}
.qn_index_list .bottom .goTop.hover{background:-webkit-linear-gradient(top,#d0d0d0,#eee);background:-moz-linear-gradient(top,#d0d0d0,#eee);background:linear-gradient(top,#d0d0d0,#eee)}
.qn_page.active .qn_index_list .bar{display:block;position:fixed;bottom:0;right:0}
.qn_index_list .content .location{padding-left:30px;background:url(../images/site.png) no-repeat 8px 8px;background-size:15px 20px}
.qn_index_list .content .location.hover{background-color:#bdf5ff}
.line_heading{font-size:16px;line-height:26px;padding:10px 20px 0}
.line_heading span{color:#25a4bb}
.line_info{padding:4px 0}
.line_info dl{font-family:microsoft yahei;line-height:28px;padding-left:20px}
.line_info dt{float:left;width:75px;text-align:right;color:#b5b5b5}
.line_info dd{margin-left:81px;color:#313131}
.line_info dd .amount{color:#888;padding:0 3px}
.line_info .q_price{color:#ff7615;font-size:18px;font-weight:bold}
.line_info .m_price{color:#b5b5b5;text-decoration:line-through}
.line_info .dis_price{color:#7b0}
.line_info .type{color:#BBB;font-size:12px;margin-left:10px}
.qoline_info{background:#fff;border-bottom:1px dotted #ccc;overflow:hidden}
.subqo_title{margin-top:-1px;background:#f7f7f7;border-top:1px solid #cacaca;padding:0 20px;font:16px/40px microsoft yahei;color:#000}
.order_status{background-color:#fffdf7;padding:9px;margin:10px 10px 20px;border-radius:5px;border:1px solid #ffbe99}
.order_status .tip{font-size:12px;line-height:18px;color:#777;margin:10px 0 0}
.order_status .waiting{font-size:14px;color:#09b}
.order_status .pass{font-size:14px;color:#396}
.pro_order_box{background:#f7f7f7;border-top:1px solid #cacaca;padding:10px 20px 20px}
.qo_title{padding-bottom:10px;font:16px/26px microsoft yahei}
.qo_title span{font-size:12px;color:#cbcbcb;margin-left:10px}
.qo_item{border:1px solid #dadada;margin-top:-1px;color:#000;font:14px/20px microsoft yahei;background:#fff;position:relative;z-index:1}
.qo_item.error{border:1px solid #c00;z-index:2}
.qo_item.error .qo_type{color:#c00}
.qo_tip{background-color:#fd9;font-size:12px;color:#c00;text-align:center}
.qo_item a.qo_pay{display:block;font-size:16px;line-height:45px;text-indent:12px;color:#000;position:relative}
.qo_item a.qo_pay:after{border-top:2px solid #979797;border-right:2px solid #979797;width:8px;height:8px;content:'';position:absolute;top:18px;right:8px;visibility:visible;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
.qo_item .price{color:#ff7615}
.qo_type{float:left;background:#f0f0f0;padding:12px 0;border-right:1px solid #dadada;width:90px;text-align:center;height:20px}
.qo_info{margin-left:91px;background:#fff;padding:12px 0 12px 10px;line-height:20px;height:20px}
.qo_choose{position:relative}
.qo_choose:after{border-top:2px solid #979797;border-right:2px solid #979797;width:7px;height:7px;content:'';position:absolute;top:18px;right:10px;visibility:visible;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
.qn_required_input{border:0;width:90%;outline:0;color:#cbcbcb;font:14px/20px microsoft yahei}
.qn_num_input{border:1px solid #cacaca;width:30px;outline:0;font:14px/14px microsoft yahei;text-align:center}
input.active{color:#333}
.qn_minus,.qn_plus{font-weight:bold;font-size:18px;display:inline-block;color:#FFF;background:#ff9036;width:20px;height:22px;text-align:center;line-height:18px;vertical-align:middle;cursor:pointer}
.qn_minus.off,.qn_minus.off,.qn_plus.off{background:#9a9a9a;cursor:default}
.qn_minus{margin-right:5px}
.qn_plus{margin-left:5px}
.qn_gray{color:#cbcbcb}
.qo_intro{color:#434343;font:12px/24px microsoft yahei}
.qn_select{border:0;width:95%;position:relative;background:url(../images/selectarrow_2x.png) no-repeat 98% 7px;background-size:14px 9px;font-family:microsoft yahei;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:button;-o-appearance:none;appearance:none}
.unionpay_box{line-height:45px;color:#434343}
.unionpay_box .ico{border:1px solid #dadada;background:#fff;display:inline-block;padding:0 13px;margin:0 16px}
.unionpay_box .dis_price{color:#77b400}
.clause{font:12px/18px microsoft yahei;padding:15px 0}
.clause label{margin-left:5px;vertical-align:middle}
.reality_price{font:18px/20px microsoft yahei;color:#434343;text-align:center;padding-top:20px}
.reality_price .price{color:#ff7615}
.line_port{padding:10px 20px;font:12px/24px microsoft yahei;color:#666}
.line_port b{color:#333;margin-left:10px;font-weight:normal}
.line_port strong{float:right;position:relative;z-index:1;font-weight:normal;color:#25a4bb;padding-right:15px}
.line_port .expand{border-right:1px solid #1ba9ba;border-bottom:1px solid #1ba9ba;position:absolute;right:0;top:5px;display:inline-block;font-size:0;width:7px;height:7px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.line_port .fold{top:9px;-webkit-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg)}
.qo_date,.qo_sort{padding:12px 0;height:20px;position:relative;z-index:1;border:1px solid #dadada;margin-top:-1px;color:#000;font:14px/20px microsoft yahei;background:#fff;position:relative;z-index:1}
.qo_date span,.qo_sort span{padding-left:20px;color:#000}
.qo_sort b{position:relative;z-index:1;color:#333;margin-left:10px;font-weight:normal}
.qo_sort b .icon{position:absolute;right:-20px;top:0;border-bottom:3px solid #25a4bb;border-right:3px solid #25a4bb;width:6px;height:12px;content:"";-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.qo_sort .arrow,.qo_date .arrow{border-right:2px solid #aeaeae;border-bottom:2px solid #aeaeae;position:absolute;right:15px;top:15px;display:inline-block;font-size:0;width:7px;height:7px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.footer_layer_info{font:13px/30px Arial,Helvetica,sans-serif;margin:0 auto;text-align:left;zoom:1;overflow:hidden;padding:10px 0;color:#fff;filter:alpha(opacity=70);background-color:#000;background-color:rgba(0,0,0,0.7);position:fixed;bottom:0;left:0;z-index:3;width:100%}
.footer_layer_info a{text-decoration:none;display:block;margin:0 10px}
.footer_layer_info p{color:#fff;font:13px/30px Arial,Helvetica,sans-serif;width:100%;text-align:left}
.order_state dl{color:#000;padding:80px 20px 80px 100px;position:relative}
.order_state dl:before{color:#fff;display:block;width:52px;height:52px;line-height:48px;text-align:center;font-weight:bold;font-size:52px;content:'+';position:absolute;top:80px;left:35px;background:#ff9036;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);-webkit-border-radius:27px;border-radius:27px}
.order_state dl.success:before{content:'';background:url(../images/success_2x.png) no-repeat;background-size:100% auto;top:110px;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}
.order_state dt{font:18px/18px microsoft yahei;padding:10px 0}
.order_state dd{font:12px/20px microsoft yahei}
.order_state dd .tel{color:#888;display:block;margin-bottom:5px}
.order_state dd a{color:#25a4bb}
.order_state ul{padding:15px 10px 100px;background:#f3f3f3;border-top:1px solid #cacaca}
.order_state li{position:relative;z-index:1;border:1px solid #cacaca;background:#fff;padding:0 17px;font:14px/43px microsoft yahei;cursor:pointer;color:#000}
.order_state li:after{display:block;width:10px;height:10px;content:' ';position:absolute;top:15px;right:10px;border-top:3px solid #979797;border-right:3px solid #979797;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
.order_state dl.error{padding-left:120px}
.order_state dl.error:before{border-right:2px solid #b7e8e4;content:'';width:45px;height:68px;background:url(../images/error_logo_2x.png) no-repeat 0 center;background-size:45px 34px;top:90px;padding-right:20px;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg);-webkit-border-radius:0;border-radius:0}
.pay_tips{text-align:center;padding-bottom:50px}
.pay_tips a{display:inline-block;width:280px;height:45px;background:url(../images/lvtu_cash_button.png) no-repeat;background-size:100% auto}
.qn_tab{background:#fff}
.qn_tab2{display:-moz-box;display:-webkit-box;display:-ms-flexbox;display:box;width:100%;height:41px}
.qn_tab3{-webkit-column-count:3;-webkit-column-gap:0;height:41px}
.qn_tab2 .tab_title{-moz-box-flex:1;-webkit-box-flex:1;-ms-flex:1;box-flex:1}
.qn_tab2 .tab_title,.qn_tab3 li{font-size:16px;line-height:40px;text-align:center;background:#f3f3f3;color:#8c8c8c;border-right:1px solid #cacaca;border-bottom:1px solid #cacaca}
.qn_tab2 .tab_title:last-child,.qn_tab3 li:last-child{border-right:0}
.qn_tab2 .tab_title.active,.qn_tab3 li.active{color:#25a4bb;background:#fff;border-bottom:1px solid #fff}
.qn_tab3 li a,.qn_tab2 .tab_title a{display:block}
.qn_index_list .search_icon{width:17px;height:17px;margin:12px 0 0 16px;background:url(../images/refer_sprite.png) -17px 0 no-repeat;background-size:200% 100%}
.qn_index_list .delete_icon{width:15px;height:17px;margin:12px 16px 0 0;background:url(../images/refer_sprite.png) 0 0 no-repeat;background-size:200% 100%}
.qo_p_text{padding-bottom:10px;font:bold 14px/30px microsoft yahei;color:#555}
.qo_p_title{background:#fff;padding:12px 10px;font:bold 14px/20px microsoft yahei;color:#333}
.mb_15{margin-bottom:15px}
.sales_info{background:#fff;padding:12px;border-bottom:1px dotted #ccc}
.sales_info .name{width:70%;float:left;font:16px/24px microsoft yahei;color:#444}
.sales_info .name span{display:block}
.sales_info .name .info{font-size:12px}
.onoffswitch{position:relative;width:51px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;float:right}
.onoffswitch-checkbox,.onoffswitch-checkbox1{display:none}
.onoffswitch-label{display:block;overflow:hidden;cursor:pointer;border:2px solid #e5e5e5;border-radius:20px}
.onoffswitch-inner{width:200%;margin-left:-100%;-moz-transition:margin .3s ease-in 0s;-webkit-transition:margin .3s ease-in 0s;-o-transition:margin .3s ease-in 0s;transition:margin .3s ease-in 0s}
.onoffswitch-inner>div{float:left;width:50%;height:34px;padding:0;line-height:34px;font-size:14px;color:white;font-family:Trebuchet,Arial,sans-serif;font-weight:bold;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border-radius:20px}
.onoffswitch-inner .onoffswitch-active{padding-left:10px;background-color:#1ba9ba;color:#fff}
.onoffswitch-inner .onoffswitch-inactive{padding-right:10px;background-color:#fff;color:#999;text-align:right}
.onoffswitch-switch{width:28px;height:28px;margin:3px;background:#fff;border:2px solid #f6f6f6;border-radius:20px;position:absolute;top:0;bottom:0;right:15px;-moz-transition:all .3s ease-in 0s;-webkit-transition:all .3s ease-in 0s;-o-transition:all .3s ease-in 0s;transition:all .3s ease-in 0s}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner{margin-left:0}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch{right:0}
.onoffswitch-checkbox1:checked+.onoffswitch-label .onoffswitch-inner{margin-left:0}
.onoffswitch-checkbox1:checked+.onoffswitch-label .onoffswitch-switch{right:0}
.selected_info{padding:0 15px 8px 0}
.selected_info table{border:1px #dadada solid;text-align:center;width:100%}
.selected_info .head_title{border-bottom:1px solid #dadada;background-color:#f0f0f0;color:#999;line-height:29px;height:29px}
.selected_info .head_title .w_1{width:30%}
.selected_info .head_title .w_2{width:25%}
.selected_info .head_title .w_3{width:25%}
.selected_info tr{height:40px;line-height:45px}
.selected_info .td_1{font:bold 18px/28px microsoft yahei}
.selected_info .td_2{vertical-align:middle}
.selected_info .td_3 a{font:18px/28px microsoft yahei;color:#448aca}
.selected_info .td_4{color:#ff7615;font:bold 20px/30px microsoft yahei}
.selected_info .td_4 i{font-size:16px;font-weight:normal}
.sales_block{padding:10px 0 20px}
.sales_block .qo_title{padding:0 20px 10px}
.border_solid{border-bottom:1px solid #ccc}
.sales_block .payment{background-color:#fff;font:16px/24px microsoft yahei;padding:20px 20px 0 15px}
.sales_block .payment .name{float:left;width:50%;padding:0 0 19px;color:#333}
.sales_block .payment .price{float:right;width:50%;text-align:right;color:#ff7615}
.sales_block .payment .price em{color:#555}
.sales_block .payment .last{font-weight:bold;font-size:20px}
.youhui_info{background:#fff;padding:12px}
.youhui_info .qo_info{float:left;margin-left:0;width:176px}
.button{display:inline-block;zoom:1;*display:inline;vertical-align:baseline;margin:0 2px;outline:0;cursor:pointer;text-align:center;text-decoration:none;font:16px/100% microsoft yahei;padding:.95em 1.2em 1em;box-shadow:0 1px 2px rgba(0,0,0,.2)}
.button:hover{text-decoration:none}
.button:active{position:relative;top:1px}
.bigrounded{-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em}
.medium{font-size:12px;padding:.4em 1.5em .42em}
.small{font-size:11px;padding:.2em 1em .275em}
.orange{color:#fef4e9;background:#f78d1d;background:-webkit-gradient(linear,left top,left bottom,from(#faa51a),to(#f47a20));background:-moz-linear-gradient(top,#faa51a,#f47a20);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a',endColorstr='#f47a20');float:right}
.regular-checkbox{display:none}
.regular-checkbox+label{padding:9px;border-radius:3px;display:inline-block;position:relative;vertical-align:middle}
.regular-checkbox:checked+label{color:#99a1a7;vertical-align:middle}
.regular-checkbox:checked+label:after{content:'\2714';font-size:14px;position:absolute;top:-4px;left:3px;color:#1ba9ba}
.big-checkbox+label{padding:18px}
.big-checkbox:checked+label:after{font-size:26px;left:6px}
.selected_info table.hongbao{border-left:none;border-right:0;width:100%}
.vcode_info img{vertical-align:top}
.vcode_info .nogo{vertical-align:bottom}
.vcode_info{padding-top:7px}
.vcode_info .qn_required_input{margin-top:5px}
.new_ma{position:relative}
.new_ma .ma{position:absolute;top:7px;right:5px;padding:5px 3px;background:#25a4bb;color:#fff;font-size:12px;border-radius:3px;cursor:pointer}
.new_ma .lock{background:#d1eff1;cursor:default}
.visa_box{background-color:#e14545}
.visa_box span{background:#fff url(../images/visa_bg_v3.jpg) 0 -4px no-repeat;background-size:50px 250px}
.trip_type .item_h{padding:5px;width:300px;margin:24px auto 0}
.trip_type .item_h h4{font:16px/18px microsoft yahei;color:#25a4bb}
.trip_type .item_h h4 i{display:inline-block;width:15px;height:18px;margin-right:10px;background:url(../images/visa_bg_v3.jpg) 0 -53px no-repeat;background-size:50px 250px;vertical-align:middle}
.trip_type .item_v{width:300px;padding:5px;margin:11px auto 0;background:#f7f7f7;box-shadow:0 0 5px rgba(234,234,234,1);border:1px solid #fdfdfd;border-radius:5px}
.trip_type .item_v a{display:block;height:70px}
.trip_type .item_v a img{border-radius:3px}
.trip_type .item_v .item_img{float:left}
.trip_type .item_v .item_t{float:left;display:inline-block;padding:14px 0 0 12px}
.trip_type .item_v .item_na{margin-bottom:9px;font:18px/18px microsoft yahei;color:#000}
.trip_type .item_v .item_pr{font:12px/12px microsoft yahei}
.trip_type .item_v .item_yen{color:#f60}
.trip_type .item_v .item_num{padding:0 3px;color:#f60;font-size:14px}
.trip_type .item_v .item_qi{color:#000}
.trip_type .item_v .item_r{position:relative}
.trip_type .item_v .item_arr{position:absolute;right:15px;top:30px;display:block;border-right:3px solid #aeaeae;border-top:3px solid #aeaeae;width:7px;height:7px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.seach_box{border:1px solid rgba(0,0,0,0.5)}
.trip_top .title h3{height:40px}
.trip_top .title span{position:absolute;bottom:4px;right:0}
.trip_type .item .title h3{height:44px}
.trip_type .item .title span{position:absolute;bottom:4px;right:0}
.trip_type .item_v .item_num_1,.trip_type .item_v .item_line{font:12px/20px microsoft yahei;color:#999}
.trip_type .item_v .item_line{margin:0 5px 0 3px}
.trip_info_box{width:300px}
.place_list li{width:129px}
.bn_link{position:relative;width:320px;margin:0 auto}
.bn_inner{position:absolute;width:100%;overflow:hidden;left:0;top:0}
.bn_inner a{display:block;width:320px;height:144px;cursor:pointer}
.cont_filter{position:relative;z-index:500}
.se_list{position:relative;z-index:1}
.se_list .empty{font-size:12px;border-bottom:1px dotted #7c7c7c}
.se_list .empty .box{background-color:#fd9;text-align:center;margin:10px 20px;padding:10px}
.se_list .empty .box span{display:block}
.filter-panel,.box_filter{background:#333}
.box_filter,.reorder_list{padding:0 35px 50px}
.filter-panel{width:100%;position:absolute;left:0;top:0;z-index:2;margin-right:-200%}
.box_filter .tab_filter{background:0;border-bottom-color:#7c7c7c;margin-bottom:15px;padding-top:16px}
.box_filter .tab_filter li{border:0;color:#fff;background:url(../images/tafliter_2x.png) no-repeat right 0;background-size:2px 42px;-moz-box-flex:17;-webkit-box-flex:17;box-flex:17}
.box_filter .tab_filter li.active{color:#f90}
.box_filter .tab_filter li:nth-child(3){background:0}
.box_filter .tab_filter li:last-child{margin-bottom:5px;width:36px;border-radius:22px;background:#006679 url(../images/back_list.png) no-repeat center center;background-size:18px 15px;text-indent:-9999px;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1}
.loading_more{margin-top:-1px}
.se_list li a{padding:15px 10px 10px}
.se_list .comprise{font-size:10px}
.se_list .mark .tag{color:#fff;font:11px/15px microsoft yahei;background:#45afe2;padding:0 5px;display:inline-block}
.se_list .type b{padding:0 4px;font-size:11px}
.se_list .type b.blue{background:#478fe1}
.reorder_list{padding-top:25px}
.reorder_list li{margin-top:1px;color:#fff;padding:10px 10px 10px 15px;font:14px/20px microsoft yahei;background:#666;position:relative}
.reorder_list li:after{content:" ";position:absolute;right:10px;top:13px;width:10px;height:15px;background:url(../images/rarrow_2x.png) no-repeat;background-size:100% auto}
.reorder_list li .arrow{display:inline-block;width:9px;height:10px;background:url(../images/sarrow_2x.png) no-repeat 0 -17px;background-size:100% auto;margin-left:7px}
.reorder_list li.active .arrow{background-position:0 0}
.reorder_list li .sort{float:right;padding-right:22px;font-size:12px}
.reorder_list li .amount{color:#fff000}
.filter_list dt{color:#fff;font:12px/20px microsoft yahei;padding:16px 8px}
.filter_list dd{margin-top:1px;background:#666;color:#fff;padding:8px 10px 12px 15px;font:14px/20px microsoft yahei;position:relative}
.filter_list dd label{vertical-align:middle}
.filter_list dd input{display:none;width:13px;height:13px}
.filter_list dd input.text_input{display:inline}
.filter_list .active:after,.reorder_list li.active:after{border-bottom:2px solid #fff;border-right:2px solid #fff;width:8px;height:14px;content:'';position:absolute;top:10px;right:18px;visibility:visible;background-image:none;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
.reorder_list li.active:after{right:12px}
.filter_list dd .text_input{border:1px solid #5b5b5b;border-radius:5px;padding:0 3px;width:60px;height:28px;margin-right:3px;text-align:center;outline:0}
.filter_list dd .orange{color:#f90;padding:0 16px 0 19px}
.b_filter_select{padding:0 10px}
.filter_select{margin:11px 0 -1px;border:1px solid #cacaca}
.filter_select dt a{display:block;font:14px/43px microsoft yahei;color:#000;padding:0 18px;display:block;position:relative;z-index:1}
.filter_select dt b{margin-left:28px;font-weight:normal}
.filter_select dt .arrow{position:absolute;right:28px;top:15px;display:inline-block;font-size:0;width:7px;height:7px;border-right:3px solid #aeaeae;border-top:3px solid #aeaeae;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.filter_select dt .expand{position:absolute;right:28px;top:15px;display:inline-block;font-size:0;width:7px;height:7px;border-right:3px solid #aeaeae;border-top:3px solid #aeaeae;-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg)}
.filter_select dt .fold,.filter_select dt.active .expand{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.filter_select ul{padding-left:18px}
.filter_select li{border-top:1px solid #cacaca;font:14px/43px microsoft yahei;color:#000;position:relative;z-index:1}
.filter_select li input{display:none}
.filter_select li .status{margin:12px 26px 0 0;float:right;width:16px;height:16px;border:1px solid #cacaca;background:#f3f3f3;cursor:pointer}
.filter_select li.current:after{position:absolute;right:30px;top:12px;border-bottom:3px solid #25a4bb;border-right:3px solid #25a4bb;width:6px;height:12px;content:"";-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.filter_price{margin-top:10px}
.filter_price dt{font:14px/24px microsoft yahei;color:#000;padding-bottom:5px}
.filter_price dd{font:14px/44px microsoft yahei;color:#555}
.filter_price .text_input{border:1px solid #cacaca;width:80px;padding-left:4px;border-radius:5px;font:14px/44px microsoft yahei;height:44px;display:inline-block;margin-right:5px}
.filter_price .orange{margin:0 5px}
.c_filter_btn{padding:10px 0}
.c_filter_btn .confirm{display:inline-block;font:14px/39px microsoft yahei;padding:0 28px;border:1px solid #aeaeae;color:#000;text-shadow:none;margin:0 6px 0 0;background:-webkit-linear-gradient(top,#fff,#dfdfdf);background:-moz-linear-gradient(top,#fff,#dfdfdf);background:-ms-linear-gradient(top,#fff,#dfdfdf);background:-o-linear-gradient(top,#fff,#dfdfdf);background:linear-gradient(top,#fff,#dfdfdf)}
.c_filter_btn .reset{display:inline-block;font:14px/39px microsoft yahei;padding:0 64px;border:1px solid #e0721a;color:#fff;text-shadow:none;background:-webkit-linear-gradient(top,#ffa443,#ff801a);background:-moz-linear-gradient(top,#ffa443,#ff801a);background:-ms-linear-gradient(top,#ffa443,#ff801a);background:-o-linear-gradient(top,#ffa443,#ff801a);background:linear-gradient(top,#ffa443,#ff801a)}
.filter_btn{padding:22px 0}
.filter_btn .confirm,.filter_btn .reset{margin-left:6px;border-radius:3px;color:#fff;font:12px/36px microsoft yahei;display:inline-block;padding:0 18px}
.filter_btn .confirm{border:1px solid #ffa43d;text-shadow:0 1px 0 rgba(0,77,89,.75);background:-webkit-linear-gradient(top,#ff8b1a,#ff6211);background:-moz-linear-gradient(top,#ff8b1a,#ff6211);background:linear-gradient(top,#ff8b1a,#ff6211)}
.filter_btn .reset{border:1px solid #99cda9;text-shadow:0 1px 0 rgba(0,0,0,.75);background:-webkit-linear-gradient(top,#5ebd94,#41a168);background:-moz-linear-gradient(top,#5ebd94,#41a168);background:linear-gradient(top,#5ebd94,#41a168)}
.filter_btn .back_top{font:12px/36px microsoft yahei;color:#fff;padding-left:25px}
.filter_btn .back_top .arrow{vertical-align:middle;display:inline-block;width:10px;height:10px;margin-right:10px;border-left:3px solid #cbcbcb;border-top:3px solid #cbcbcb;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
.f1{float:left}
.finp1{cursor:pointer;color:#000;text-align:center;float:left;border:1px solid #4c4c4c;background:#fff;width:80px;height:28px;font:12px/28px microsoft yahei;margin:0 12px}
.finp2{cursor:pointer;color:#000;text-align:center;float:left;border:1px solid #4c4c4c;border-right:0;background:#fff;width:80px;height:28px;font:12px/28px microsoft yahei;margin:0 0 0 12px}
.fbtn{border-top:1px solid #4c4c4c;float:left;background:#ff9700 url(../images/icose_2x.png) no-repeat 8px 7px;width:29px;height:28px;background-size:50% auto;vertical-align:middle}
.se_list .h3{height:36px;overflow:hidden;ellipsis;text-overflow:ellipsis}
.se_list li .ad_bg,.se_list li .ad_bg:hover{background:#fffee8}
.ad_icon_box{position:relative;z-index:5}
.ad_icon_box .ad_icon{position:absolute;top:-15px;left:-10px;width:33px;height:33px;background:url(../images/icon_ad.png) 0 0 no-repeat;background-size:cover}
.ad_icon_box .ad_text{position:absolute;bottom:-80px;right:-18px;padding:2px 14px;font:14px/20px microsoft yahei;color:#fff;background:#ff7615;letter-spacing:.2em}
.yl_filter{position:absolute;top:92px;left:0;width:100%;z-index:1000;background:rgba(0,0,0,0.5);height:100%}
.c_select{position:relative;z-index:1}
.s_tabs{background:#fff}
.s_tabs .nav{width:100%;display:-moz-box;display:-webkit-box;display:-ms-flexbox;display:box}
.s_tabs .nav li{font:600 16px/1.5 microsoft yahei;color:#555;text-align:center;vertical-align:middle;-moz-box-flex:1;-webkit-box-flex:1;-ms-flex:1;box-flex:1;background:-webkit-linear-gradient(top,#ddd,#fefefe);background:-moz-linear-gradient(top,#ddd,#fefefe);background:-ms-linear-gradient(top,#ddd,#fefefe);background:-o-linear-gradient(top,#ddd,#fefefe);background:linear-gradient(top,#ddd,#fefefe)}
.s_tabs .nav a{border:1px solid #cfcfcf;display:block;color:#25a4bb;white-space:nowrap;line-height:45px}
.s_tabs .nav a.type{border-left:none}
.s_tabs .nav .active{background:#fff}
.s_tabs .nav .active a{border-bottom:1px solid transparent}
.s_filter_list{background:#fff;display:block;width:100%;z-index:100}
.s_filter_list li{position:relative;color:#333;font:14px/45px microsoft yahei;border-bottom:1px solid #e1e1e1;text-align:left}
.s_filter_list li a{text-indent:20px;display:block;color:#333}
.s_filter_list li.active{background-color:#f1fdfd}
.s_filter_list li.active:after{content:'\2714';font-size:14px;position:absolute;top:1px;right:14px;color:#1ba9ba}
.s_filter_list table.hongbao{border-left:none;border-right:0;width:100%}
.vpage{background:#fff;margin-left:44px;height:100%}
.h480{min-height:480px}
.se_list .score .supplier{background:#ff703c}
.se_list .score .supplier,.se_list .score .supplier_new{width:85px;height:15px;float:right;padding:1px 2px 0 3px;font:10px simsun;line-height:15px;color:#fff;background:#ff703c}
.se_list .score .supplier_new{background:#fe4962;text-align:center}
.se_list .score .supplier .fen{float:right;display:block;width:20px;height:12px;margin:1px 0 0 2px;font:12px 'microsoft yahei';line-height:12px;background:#fff;color:#ff703c;text-align:center;zoom:1}
.header_banner{width:300px;margin:0 auto;margin-top:10px;height:50px}
.header_banner img{width:300px;height:50px}
.tour_city{background:#555;color:#fff;font:12px/30px microsoft yahei;padding:7px 10px}
.tour_city .f1{float:left}
.tour_city .f2{float:left}
