@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
html {
	-webkit-text-size-adjust:none;
}
body {
	line-height:1px;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
	content:none;
}
body {
	font-family:"microsoft yahei";
	font-weight:normal;
	background-color:#fff;
	color:#555;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:400;
}
* {
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
a {
	text-decoration:none;
	outline:none;
	color:#232323;
}
.clr, .clear {
	clear:both;
	height:0;
	overflow:hidden;
}
.clrfix, .clr_after {
	zoom:1;
}
.clrfix:after, .clr_after:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	content:".";
}
.hide {
	display:none;
}
.hidden {
	visibility:hidden;
}
.qn_page {
	clear:both;
	background-color:#fff;
	height:100%;
	width:100%;
	min-width:320px;
	margin:0;
	padding:0;
	margin-left:auto;
	margin-right:auto;
}
.qn_page .back_top {
	position:fixed;
	bottom:30px;
	right:5px;
}
.qn_footer .main_nav {
	width:300px;
	height:62px;
	margin:0 auto;
	padding:5px 10px 0 10px;
}
.qn_footer .main_nav li {
	margin:0;
	height:31px;
	width:60px;
	float:left;
	position:relative;
	background:none;
}
.qn_footer .main_nav li .icon {
	float:left;
	width:22px;
	height:22px;
	background:url(../images/wap/touch/images/v2/images1x_1/nav_4.png) 0 0 no-repeat;
	background-size:125px 50px;
}
@media screen and(-webkit-min-device-pixel-ratio:1.5) {
.qn_footer .main_nav li .icon {
background:url(../images/wap/touch/images/v2/images2x/nav_4.png) 0 0 no-repeat;
background-size:125px 50px;
}
}
.qn_footer .main_nav li a {
	display:block;
	height:22px;
	width:100%;
	font-size:12px;
}
.qn_footer .main_nav li .title {
	float:left;
	display:inline-block;
	color:#9e9e9e;
	margin:3px 0 0 5px;
	padding-bottom:1px;
	border-bottom:1px solid #acacac;
	font-size:12px;
	line-height:16px;
}
.qn_footer .main_nav li.actived .title {
	border-bottom:none;
}
.qn_footer .main_nav .flight .icon {
	background-position:0 0;
}
.qn_footer .main_nav .hotel .icon {
	background-position:-25px 0;
}
.qn_footer .main_nav .tuan .icon {
	background-position:-50px 0;
}
.qn_footer .main_nav .gonglue .icon {
	background-position:-75px -25px;
}
.qn_footer .main_nav .train .icon {
	background-position:-50px -25px;
}
.qn_footer .main_nav .jingdian .icon {
	background-position:-75px -25px;
}
.qn_footer .main_nav .dujia .icon {
	background-position:0 -25px;
}
.qn_footer .main_nav .lvtu .icon {
	background-position:-100px -25px;
}
.qn_footer .main_nav .dangdi .icon {
	background-position:-25px -25px;
}
.qn_footer .main_nav .zuche .icon {
	background-position:-100px 0;
}
.qn_footer .main_nav li.hover:after {
	content:' ';
	position:absolute;
	top:-2px;
	left:-2px;
	width:60px;
	height:28px;
	background:black;
	opacity:.25;
	border-radius:0;
}
.qn_footer .main_nav li.actived.hover:after {
	background:transparent;
}
.qn_footer .footer_nav {
	width:100%;
	height:39px;
	border-bottom:1px solid #cacaca;
}
.qn_footer .footer_nav li {
	float:left;
	padding-left:20px;
}
.qn_footer .footer_nav li a {
	position:relative;
	color:#25a4bb;
	font-size:14px;
	line-height:39px;
}
.qn_footer .footer_nav li a.hover {
	color:#fff;
}
.qn_footer .footer_nav li a.hover:after {
	content:' ';
	position:absolute;
	top:-4px;
	left:-4px;
	width:100%;
	height:100%;
	padding:4px;
	background:black;
	opacity:.25;
	border-radius:5px;
	z-index:-1;
}
.qn_footer .mobile_pc {
	padding:10px 0 0 0;
	text-align:center;
	line-height:20px;
}
.qn_footer .mobile_pc li {
	display:inline-block;
	margin:0 15px;
}
.qn_footer .mobile_pc a {
	font-size:14px;
	color:#25a4bb;
}
.qn_footer .mobile_pc .active a {
	color:black;
}
.qn_footer .copyright {
	color:#9e9e9e;
	text-align:center;
	font-size:14px;
	padding:10px;
	line-height:20px;
}
.qn_footer .copyright a {
	color:#9e9e9e;
	height:33px;
}
.b_crumb .e_crumb {
	background-color:#25a4bb;
	border-bottom:#1b7a8b 1px solid;
	position:relative;
	height:48px;
	width:100%;
}
.b_crumb .e_crumb .tit {
	line-height:45px;
	text-align:center;
	color:#fff;
	font-size:16px;
	margin:0 60px 0 40px;
	height:45px;
	overflow:hidden;
}
.b_crumb .e_crumb .arrow {
	position:absolute;
	top:10px;
}
.b_crumb .e_crumb .arrow_left {
	left:15px;
}
.b_crumb .e_crumb .arrow_right {
	right:15px;
}
.b_crumb .e_crumb .btn_mystrategy {
	position:absolute;
	top:5px;
	right:10px;
	width:36px;
	height:36px;
	line-height:36px;
	text-align:center;
	font-size:11px;
	font-family:"microsoft yahei";
	color:#fff;
	overflow:hidden;
}
.b_crumb .e_crumb .back_home {
	position:absolute;
	top:5px;
	right:15px;
}
.b_crumb .e_crumb .right_btn {
	position:absolute;
	right:15px;
	top:12px;
	width:78px;
	height:21px;
	line-height:24px;
	font-size:12px;
	color:#FFF;
	background:url("../images/travel/touch/top_btn_r.png") no-repeat 0 0;
	background-size:78px 21px;
}
.b_crumb .e_crumb .right_btn .comment {
	display:block;
	float:left;
	height:24px;
	width:35px;
	padding-left:22px;
	color:#FFF;
}
.b_crumb .e_crumb .right_btn .share {
	display:block;
	float:right;
	height:24px;
	width:20px;
}
.b_dialog_mask {
	background-color:#000;
	width:100%;
	height:120%;
	opacity:.8;
	position:fixed;
	top:0;
	left:0;
	filter:alpha(opacity=50);
	-ms-filter:alpha(opacity=50);
	_height:3000px;
	_position:absolute;
	_overflow:hidden;
	z-index:1000;
}
.b_dialog {
	position:absolute;
	top:50%;
	left:50%;
	background-color:#fff;
	padding:10px;
	z-index:5000;
}
.b_dialog .btn_close {
	background:url("../images/travel/place/icon_close_02.gif") no-repeat 0 0;
	display:block;
	text-indent:-9999px;
	font:normal 18px/32px Verdana, arial, sans-serif;
	color:#555;
	width:32px;
	height:32px;
	position:absolute;
	top:0;
	right:-32px;
}
.b_dialog .btn_close_small {
	background:url("../images/travel/btn.close.gif") no-repeat 0 0;
	display:block;
	text-indent:-9999px;
	font:normal 18px/32px Verdana, arial, sans-serif;
	color:#555;
	width:10px;
	height:10px;
	position:absolute;
	top:6px;
	right:6px;
}
.b_dialog .e_dialog_hd {
	font:16px/30px "microsoft yahei", arial, sans-serif;
	color:#555;
	padding-bottom:5px;
	border-bottom:1px solid #d1d1d1;
	position:relative;
	z-index:300;
}
.b_dialog .e_dialog_ct {
	width:100%;
	z-index:200;
}
.b_dialog .e_dialog_ft {
	padding:10px 0;
	text-align:center;
	z-index:100;
}
.b_dialog .e_dialog_ft .box_ops {
	padding:0;
	text-align:center;
	z-index:30;
}
.b_dialog .e_dialog_ft .box_ops .ops_btn {
	background:url("../images/travel/place/btn_bg_blue.gif") repeat-x scroll 100px 100px #5ec0f2;
	color:#fff;
	width:100px;
	height:30px;
	font:14px/30px arial, sans-serif;
	text-align:center;
	border:0 none;
	border-radius:2px;
	margin:0 5px;
}
.dlg_mask {
	background:#000;
	filter:alpha(opacity=30);
	-ms-filter:alpha(opacity=30);
	width:100%;
	height:100%;
	_height:3000px;
	opacity:.3;
	position:fixed;
	_position:absolute;
	top:0;
	left:0;
	_overflow:hidden;
}
.dlg_mask .dlg_miframe {
	width:100%;
	height:100%;
	_height:3000px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	filter:alpha(opacity=0);
	-ms-filter:alpha(opacity=0);
}
body.g_mask_body {
	position:fixed;
	overflow-y:scroll;
	width:100%;
	_background-image:url(about:blank);
	_background-attachment:fixed;
}
.g_dlg_box {
	display:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	overflow:auto;
	_position:absolute;
}
.g_dlg_wrap_css3 {
	-moz-transition:top 400ms ease-out, opacity 200ms, height 300ms ease-out;
	-webkit-transition:top 400ms ease-out, opacity 200ms, height 300ms ease-out;
	-ms-transition:top 400ms ease-out, opacity 200ms, height 300ms ease-out;
	-o-transition:top 400ms ease-out, opacity 200ms, height 300ms ease-out;
	transition:top 400ms ease-out, opacity 200ms, height 300ms ease-out;
}
.pop_msg {
	background:url(../images/travel/plan/media/pop_msg.png);
	_background:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/travel/plan/media/pop_msg.png", sizingMethod ="scale");
	padding:10px;
	width:355px;
	height:50px;
}
.pop_msg table {
	width:100%;
	height:100%;
}
.pop_msg td {
	text-align:center;
	vertical-align:middle;
	line-height:1.6;
}
.b_banner {
	width:100%;
	height:44px;
	min-width:320px;
}
.b_banner .e_banner {
	position:relative;
	height:44px;
	width:100%;
	text-align:center;
}
.b_banner .e_banner_bg {
	background:url("../images/travel/touch/banner_bg.png") center 0 no-repeat;
	background-size:1920px;
	position:relative;
	width:100%;
	height:44px;
	min-height:44px;
	text-align:center;
}
.b_banner .e_banner .banner_l {
	width:50%;
	height:44px;
	float:left;
	text-align:center;
}
.b_banner .e_banner .banner_r {
	width:50%;
	height:44px;
	float:left;
	text-align:center;
}
.b_banner .e_banner .banner_l img {
	margin-left:10px;
}
.b_banner .e_banner .btn_close {
	position:absolute;
	left:5px;
	top:10px;
}
.b_filter_box {
	background-color:#f3f3f3;
}
.b_filter_box .e_searchbox {
	background-color:#25a4bb;
	padding:5px;
}
.b_filter_box .e_searchbox .input_search {
	position:relative;
	background-color:#fff;
	margin-right:60px;
	height:35px;
	border-top:#fff 1px solid;
	border-radius:2px;
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1);
	box-shadow:0 1px 0 rgba(0, 0, 0, .1);
}
.b_filter_box .e_searchbox .place_search {
	margin-right:0;
}
.b_filter_box .e_searchbox .input_search .icon_search {
	position:absolute;
	top:5px;
	left:10px;
}
.b_filter_box .e_searchbox .input_search .icon_cancel {
	position:absolute;
	top:5px;
	right:5px;
}
.b_filter_box .e_searchbox .input_search .input_txt {
	width:70%;
	height:20px;
	line-height:20px;
	margin-top:7px;
	margin-left:38px;
	border:0 none;
	outline:none;
	color:#b5b6b6;
	font-size:14px;
}
.b_filter_box .e_searchbox .input_search .input_txt:active, .b_filter_box .e_searchbox .input_search .input_txt:focus {
	background-color:transparent;
	outline:none;
}
.b_filter_box .e_searchbox .input_filter {
	background-color:#25a4bb;
	display:block;
	position:absolute;
	top:0;
	right:-60px;
	width:55px;
	height:35px;
	line-height:35px;
	color:#fff;
	font-size:14px;
	text-align:center;
}
.b_filter_box .e_searchbox .input_filter img {
	margin-top:5px;
}
.b_filter_box .e_searchbox .no_filter {
	margin:0;
	padding:0 0 0 35px;
}
.b_filter_box .e_searchbox .no_filter .input_txt {
	width:95%;
	margin-left:0;
}
.b_filter_box .e_filterbox {
	position:relative;
	height:1%;
	padding:7px 60px 7px 0;
	word-wrap:break-word;
	word-break:break-all;
	max-height:64px;
	overflow:hidden;
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1);
	box-shadow:0 1px 0 rgba(0, 0, 0, .1);
}
.b_filter_box .e_filterbox .item {
	line-height:32px;
	font-size:14px;
	color:#959595;
	margin:0 15px;
	white-space:nowrap;
	float:left;
	display:inline;
}
.b_filter_box .e_filterbox .item:active {
	color:#ff6c39;
}
.b_filter_box .e_filterbox .item_more {
	position:absolute;
	top:50%;
	right:15px;
	font-size:12px;
	line-height:3px;
	margin-top:-8px;
	color:#959595;
}
.b_filter_box .e_filterbox .item_more:active {
	color:#ff6c39;
}
.b_filter_box .e_filterbox .item_ellipsis {
	font-size:22px;
}
.b_filter_box .e_tagsbox {
	padding-left:20px;
	word-wrap:break-word;
	word-break:break-all;
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1);
	box-shadow:0 1px 0 rgba(0, 0, 0, .1);
}
.b_filter_box .e_tagsbox .item_tag {
	position:relative;
	height:1%;
	float:left;
	display:inline;
	text-align:center;
	width:50%;
	line-height:39px;
	font-size:14px;
	white-space:nowrap;
	overflow:hidden;
}
.b_filter_box .e_tagsbox .item_tag .item {
	float:left;
	display:block;
	line-height:32px;
	font-size:14px;
	white-space:nowrap;
	color:#b4b4b4;
	max-width:80%;
	margin-left:5%;
	overflow:hidden;
}
.b_filter_box .e_tagsbox .item_tag .arrow_down_default {
	display:block;
	position:relative;
	left:3px;
	top:13px;
}
.b_filter_box .e_tagsbox .current .item {
	color:#ff6c39;
}
.b_list_box {
	padding:5px;
}
.b_list_box .list_txt_link {
	display:block;
	padding:5px 0;
	overflow:hidden;
	clear:both;
	border-bottom:solid 1px #e7e7e5;
}
.b_list_box .list_txt_link:active {
	background-color:#e3e3e3;
}
.b_list_box .list_txt_link .imgbox {
	float:left;
	width:102px;
	height:102px;
	position:relative;
}
.b_list_box .list_txt_link .checking:after {
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	content:'';
	height:102px;
	width:102px;
	background:rgba(0, 0, 0, 0.3) url(../images/travel/touch/examination1.png) no-repeat center;
}
.b_list_box .list_txt_link .imgbox img {
	vertical-align:top;
}
.b_list_box .list_txt {
	height:102px;
	margin-left:120px;
	line-height:18px;
}
.b_list_box .list_txt .tit {
	font-size:14px;
	color:#232323;
	line-height:16px;
	height:32px;
	overflow:hidden;
	padding:10px 0 0;
	margin:0 0 2px;
}
.b_list_box .list_txt .author {
	font-size:12px;
	color:#959595;
	text-align:left;
	line-height:20px;
	height:20px;
	overflow:hidden;
}
.b_list_box .list_txt .author img {
	float:left;
	display:inline;
	margin-top:5px;
	margin-right:3px;
}
.b_list_box .list_txt .item {
	font-size:12px;
	color:#959595;
	line-height:18px;
	height:18px;
	overflow:hidden;
}
.b_list_box .list_txt .date {
	font-size:12px;
	color:#959595;
	line-height:18px;
	height:18px;
	overflow:hidden;
}
.b_list_box .list_txt .viewsum {
	padding-left:18px;
}
.b_list_box .list_txt .viewsum img {
	margin-right:3px;
	vertical-align:-2px;
}
.b_list_box .list_txt .tit_link {
	color:#232323;
	line-height:25px;
	height:25px;
	overflow:hidden;
	padding-top:4px;
}
.b_list_box .list_item .list {
	position:relative;
	height:1%;
	line-height:22px;
	border-bottom:#e7e7e5 1px solid;
}
.b_list_box .list_item .list_pack {
	padding:14px 0;
}
.b_list_box .list_item .last {
	border-bottom:0 none;
}
.b_list_box .list_item .list .item_link {
	display:block;
	padding:14px 0 14px 20px;
	line-height:22px;
	color:#232323;
}
.b_list_box .list_item .list .item_link:active {
	background-color:#e3e3e3;
}
.b_list_box .list_item .list .related_link {
	position:absolute;
	top:0;
	right:15px;
	line-height:50px;
	color:#d8d8d7;
}
.b_list_box .list_item .list .related_link img {
	float:right;
	display:inline;
	margin-top:13px;
}
.b_list_box .list_item .list .item_tit {
	float:left;
	display:block;
	color:#959595;
	line-height:22px;
	font-size:14px;
}
.b_list_box .list_item .list .item_cout {
	display:block;
	margin:0 0 0 45px;
	line-height:22px;
	color:#232323;
	font-size:14px;
}
.b_list_box .list_item .list .item_cout_v2 {
	display:block;
	margin:0 0 0 75px;
	line-height:22px;
	color:#232323;
	font-size:14px;
}
.b_list_box .list_title {
	line-height:25px;
	padding:13px 0;
	border-bottom:#e7e7e5 1px dotted;
}
.b_list_box .list_title .list_title_tit {
	font-size:15px;
	color:#232323;
}
.b_list_box .list_title .list_title_tit .icon {
	float:left;
	display:inline;
	margin-right:3px;
}
.b_list_box .list_title .list_title_des {
	position:relative;
	height:1%;
	padding-right:20px;
	font-size:14px;
	line-height:22px;
	color:#959595;
}
.b_list_box .list_title .list_title_des .more {
	position:absolute;
	bottom:-3px;
	right:0;
}
.b_list_box .list_item .list .icon_location {
	position:absolute;
	top:50%;
	right:0;
	margin-top:-25px;
}
.b_list_box .list_item .list .icon_more {
	position:absolute;
	top:50%;
	right:0;
	margin-top:-12px;
	margin-right:12px;
}
.b_list_box .list_item .list .icon_schedule {
	position:absolute;
	top:50%;
	right:7px;
	margin-top:-15px;
}
.b_list_box .list_item .list .item_t_tit {
	color:#959595;
	line-height:22px;
	font-size:14px;
}
.b_list_box .list_item .list .item_t_author {
	position:relative;
	height:22px;
	color:#959595;
	line-height:22px;
	font-size:14px;
}
.b_list_box .list_item .list .item_t_author .item_t_date {
	position:absolute;
	top:0;
	right:10px;
	color:#959595;
	line-height:22px;
	font-size:14px;
}
.b_list_box .list_item .list .item_t_des {
	position:relative;
	color:#232323;
	line-height:22px;
	font-size:14px;
	padding-right:35px;
}
.b_list_box .list_histogram .list_title2 {
	line-height:30px;
	padding-top:10px;
	color:#959595;
	font-size:14px;
	border-top:#e7e7e5 1px dotted;
}
.b_list_box .list_histogram .list {
	position:relative;
	height:1%;
	line-height:25px;
	margin-top:2px;
}
.b_list_box .list_histogram .list .histogram_bg {
	background-color:#ededed;
	width:70%;
	height:25px;
	line-height:25px;
	float:left;
	display:inline;
	overflow:hidden;
}
.b_list_box .list_histogram .list .histogram_bg .histogram_01 {
	background-color:#cb776c;
	height:25px;
}
.b_list_box .list_histogram .list .histogram_bg .histogram_02 {
	background-color:#d6b56d;
	height:25px;
}
.b_list_box .list_histogram .list .histogram_bg .histogram_03 {
	background-color:#78ce75;
	height:25px;
}
.b_list_box .list_histogram .list .histogram_bg .histogram_04 {
	background-color:#78b6cc;
	height:25px;
}
.b_list_box .list_histogram .list .r_tit {
	width:30%;
	height:25px;
	float:left;
	display:inline;
	overflow:hidden;
	line-height:25px;
}
.b_list_box .list_histogram .list .histogram_tit {
	display:block;
	height:25px;
	overflow:hidden;
	margin-left:10px;
	margin-right:30px;
	line-height:25px;
}
.b_list_box .list_histogram .list .arrow_right {
	position:absolute;
	top:0;
	right:10px;
}
.b_list_box .btn_clear {
	display:block;
	background-color:#dcf2ea;
	color:#08c37e;
	font-size:15px;
	line-height:30px;
	border:#b5ead7 1px solid;
	text-align:center;
	margin:10px 0 20px;
	border-radius:2px;
}
.b_list_box .btn_clear:active {
	display:block;
	background-color:#bad0c8;
	color:#fff;
	font-size:15px;
	line-height:30px;
	border:#bad0c8 1px solid;
	text-align:center;
	margin:10px 0 20px;
	border-radius:2px;
}
.b_list_box .btn_more {
	display:block;
	color:#4f4f4f;
	font-size:15px;
	line-height:30px;
	text-align:center;
	margin:10px 0 20px;
	border-radius:2px;
}
.b_list_box .btn_more:active {
	background-color:#e3e3e3;
}
.b_list_box .list_item .list .said_tit {
	display:block;
	padding-left:20px;
	line-height:25px;
	font-size:14px;
	color:#959595;
}
.b_list_box .list_item .list .said_des {
	display:block;
	padding-left:20px;
	line-height:18px;
	font-size:14px;
	color:#232323;
}
.b_list_box .list_item .list .said_time {
	position:absolute;
	top:14px;
	right:10px;
	display:block;
	padding-left:20px;
	font-size:12px;
	line-height:18px;
	color:#959595;
}
.b_list_box .list_item .list .comment_tit {
	display:block;
	padding-left:20px;
	line-height:25px;
	font-size:14px;
	color:#959595;
}
.b_list_box .list_item .list .comment_des {
	display:block;
	padding-left:20px;
	line-height:18px;
	font-size:14px;
	color:#232323;
}
.b_list_box .list_item .list .comment_time {
	position:absolute;
	top:14px;
	right:10px;
	display:block;
	padding-left:20px;
	font-size:12px;
	line-height:18px;
	color:#959595;
}
.b_list_box .list_item .list .comment_des .c_link {
	color:#08c37e;
}
.b_list_box .e_noresult {
	margin:50px auto 0;
	width:160px;
	text-align:center;
	font-size:11px;
	line-height:18px;
	color:#cecece;
	-webkit-text-size-adjust:none;
}
.b_list_box .poi_comment_box {
	font-size:14px;
	color:#1d1d1d;
	line-height:25px;
}
.b_list_box .poi_comment_box .hd {
	position:relative;
	background-color:#f3f3f3;
	height:25px;
	line-height:25px;
	color:#232323;
	font-size:14px;
	border-bottom:#e7e7e5 1px solid;
	text-align:right;
}
.b_list_box .poi_comment_box .ct .item {
	border-bottom:#dedede 1px solid;
}
.b_list_box .poi_comment_box .ct .tit {
	font-size:15px;
	margin-top:5px;
}
.b_list_box .poi_comment_box .ct .tit .txt_link {
	color:#1d1d1d;
}
.b_list_box .poi_comment_box .ct .tit .txt_link:active {
	color:#f60;
}
.b_list_box .poi_comment_box .ct .tbox {
	position:relative;
	height:25px;
	overflow:hidden;
	font-size:13px;
}
.b_list_box .poi_comment_box .ct .tbox .timebox {
	position:absolute;
	top:0;
	right:0;
	line-height:25px;
	color:#93908e;
}
.b_list_box .poi_comment_box .ct .tbox .t {
	max-width:120px;
	overflow:hidden;
	float:left;
	display:inline;
}
.b_list_box .poi_comment_box .ct .tbox .starbox {
	float:left;
	display:inline;
	margin-top:8px;
	margin-left:12px;
	position:relative;
	width:50px;
	height:8px;
	line-height:0;
	font-size:0;
}
.b_list_box .poi_comment_box .ct .tbox .curstar {
	position:absolute;
	top:0;
	left:0;
	line-height:0;
	font-size:0;
	width:50px;
	height:8px;
	overflow:hidden;
}
.b_list_box .poi_comment_box .ct .des {
	word-wrap:break-word;
	word-break:break-all;
	line-height:25px;
	font-size:13px;
	position:relative;
	padding-right:20px;
}
.b_list_box .poi_comment_box .ct .more {
	line-height:40px;
	font-size:15px;
	height:40px;
	display:block;
	text-align:center;
}
.b_list_box .poi_comment_box .ct .more:active {
	background-color:#e5ebea;
}
.b_list_box .poi_comment_box .ct .des .more_link {
	position:absolute;
	bottom:1px;
	right:0;
}
.m_tagbox {
	height:44px;
}
.m_tagbox .tag {
	background-color:#ebebeb;
	width:50%;
	height:44px;
	float:left;
	display:inline;
}
.m_tagbox .tag .txt {
	background-color:#ebebeb;
	height:40px;
	line-height:40px;
	text-align:center;
}
.m_tagbox .current {
	background-color:#25a4bb;
}
.m_tagbox .current .txt {
	color:#25a4bb;
}
.b_list_box .poi_comment_box .hd .title {
	float:left;
}
.b_list_box .poi_comment_box .hd .starbox {
	display:inline-block;
	position:relative;
	margin-right:5px;
}
.b_list_box .poi_comment_box .hd .starbox .curstar {
	position:absolute;
	width:50px;
	overflow:hidden;
}
.b_list_box .poi_comment_box .hd .score {
	display:inline-block;
	color:#25a4bb;
	font-weight:bold;
}
.b_list_box .poi_comment_box .ct .score_box {
	padding-top:15px;
	position:relative;
	background-color:#f3f3f3;
	border-bottom:solid 1px #efefef;
	margin-bottom:15px;
}
.b_list_box .poi_comment_box .ct .score_box .title {
	height:30px;
	line-height:25px;
	width:100%;
}
.b_list_box .poi_comment_box .ct .score_box .title .star {
	float:left;
}
.b_list_box .poi_comment_box .ct .score_box .title p {
	float:left;
}
.b_list_box .poi_comment_box .ct .score_box .title .star .star_img {
	display:block;
	width:24px;
	height:23px;
	float:left;
	background:url("../images/travel/touch/one_star1.png") no-repeat -24px 0;
}
.b_list_box .poi_comment_box .ct .score_box .title .star .selected {
	background-position:0 0;
}
.b_list_box .poi_comment_box .ct .score_box .comment {
	margin-top:5px;
}
.b_list_box .poi_comment_box .ct .score_box .comment .input {
	height:20px;
	width:75%;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:5px;
	font-size:13px;
	border:solid 1px #dedede;
	border-radius:5px;
	background-color:#fff;
	word-wrap:break-word;
	resize:none;
	outline:none;
}
.b_list_box .poi_comment_box .ct .score_box .comment .submit {
	display:inline-block;
	background-color:#25a4bb;
	height:30px;
	width:65px;
	line-height:30px;
	text-align:center;
	border-radius:3px;
	font-size:16px;
	color:#fff;
	vertical-align:top;
}
.b_list_box .poi_comment_box .ct .score_box .notice {
	color:#959595;
}
.login_mask {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
#js_mask {
	width:100%;
	position:absolute;
	left:0;
	top:0;
	visibility:hidden;
}
.js_tip {
	position:fixed;
	left:50%;
	top:50%;
	padding:15px;
	background:rgba(0, 0, 0, .5);
	color:#fff;
	padding-left:30px;
	padding-right:30px;
	border-radius:8px;
	font:bold 16px/20px \5fae\8f6f\96c5\9ed1;
}
.link_comment {
	float:right;
	margin-right:15px;
	color:#25a4bb;
}
.b_menubox .list_item .item {
	position:relative;
	height:1%;
	float:left;
	display:inline;
	width:25%;
	text-align:center;
}
.b_menubox .list_item .item .menu {
	line-height:60px;
	font-size:15px;
	color:#959595;
}
.b_menubox .list_item .item .img_line {
	display:none;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-30px;
}
.b_menubox .list_item .selected .menu {
	color:#232323;
}
.b_menubox .list_item .selected .img_line {
	display:block;
}
.b_menubox .list_item .comment_num {
	text-align:center;
	line-height:10px;
	padding-top:10px;
}
.b_menubox .list_item .comment_num .comment_link {
	font-size:12px;
	color:#ffb848;
}
.b_menubox .list_item .comment_num_null {
	text-align:center;
	line-height:10px;
	padding-top:20px;
}
.b_menubox .list_item .comment_num_null .comment_link {
	font-size:12px;
	color:#ffb848;
}
.b_tagbox .itembox {
	background-color:#f7f7f7;
	border-top:#d6d6d6 1px solid;
	border-bottom:#d6d6d6 1px solid;
	position:relative;
	height:1%;
	padding:0 30px;
	height:40px;
	overflow:hidden;
	-webkit-box-shadow:0 1px 0 rgba(214, 214, 214, 1);
	box-shadow:0 1px 3px rgba(214, 214, 214, 1) inset;
}
.b_tagbox .itembox .arrow_left {
	position:absolute;
	top:8px;
	left:10px;
}
.b_tagbox .itembox .arrow_right {
	position:absolute;
	top:8px;
	right:10px;
}
.b_tagbox .itembox .list_itembox {
	position:relative;
	height:40px;
	overflow:hidden;
}
.b_tagbox .itembox .list_item {
	position:absolute;
	top:0;
	left:0;
}
.b_tagbox .itembox .list_item .item {
	position:relative;
	height:40px;
	float:left;
	display:inline;
	margin:0 15px;
	text-align:center;
}
.b_tagbox .itembox .list_item .item .tag {
	line-height:40px;
	font-size:15px;
	color:#959595;
}
.b_tagbox .itembox .list_item img {
	display:none;
	position:absolute;
	bottom:-1px;
	left:50%;
	margin-left:-7px;
}
.b_tagbox .itembox .list_item .selected .tag {
	color:#ff6c39;
}
.b_tagbox .itembox .list_item .selected img {
	display:block;
}
.b_mapbox {
	background-color:#e3e3e3;
	padding:5px;
}
.b_mapbox .e_mapbox {
	background-color:#f9f9f9;
	padding:5px 15px 15px;
}
.b_mapbox .e_mapbox .tit {
	padding-top:10px;
	line-height:30px;
	font-size:16px;
	color:#232323;
}
.b_mapbox .e_mapbox .mapbox {
	height:100px;
	width:100%;
	font-size:12px;
	line-height:20px;
}
.b_mapbox .e_mapbox .des {
	padding-top:10px;
	line-height:20px;
	border-top:#e5e5e4 1px solid;
	font-size:14px;
}
.b_mapbox .e_mapbox .des .qunar_insert_img {
	width:98%;
	margin-top:10px;
	display:block;
}
#wrapper {
	position:absolute;
	z-index:1;
	top:0;
	bottom:0;
	left:0;
	width:100%;
	background:#aaa;
	overflow:auto;
}
#scroller {
	position:relative;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	width:640px;
	padding:0;
	background:#fff;
}
.b_mapbox .e_mapbox .btnbox {
	text-align:center;
	margin-top:20px;
}
.b_mapbox .e_mapbox .btnbox .btn_bg {
	display:inline-block;
	background-color:#dcf2ea;
	border:#b5ead6 1px solid;
	line-height:30px;
	font-size:12px;
	color:#08c37e;
	padding:0;
	margin:0 2%;
	white-space:nowrap;
	width:45%;
	min-width:120px;
	overflow:hidden;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
}
.b_mapbox .e_mapbox .btnbox .btn_bg:active {
	background-color:#8fddc1;
	border:#8fddc1 1px solid;
	color:#08c37e;
}
.b_mapbox .e_mapbox .btnbox .disabled, .b_mapbox .e_mapbox .btnbox .disabled:active {
	background-color:#cdded8;
	border:#d0d3d2 1px solid;
	color:#9acbb7;
}
.b_desbox .e_desbox {
	background-color:#fff;
	padding:10px;
	line-height:20px;
	font-size:14px;
}
.b_cover .listbox {
	position:relative;
	height:193px;
	width:320px;
	overflow:hidden;
	margin:0 auto;
}
.b_cover .listbox .list_item .list {
	float:left;
}
.b_cover .listbox .sliderbox {
	position:absolute;
	bottom:10px;
	text-align:center;
	width:100%;
}
.b_cover .listbox .sliderbox .slider .img_default {
	display:inline-block;
}
.b_cover .listbox .sliderbox .slider .img_current {
	display:none;
}
.b_cover .listbox .sliderbox .current .img_default {
	display:none;
}
.b_cover .listbox .sliderbox .current .img_current {
	display:inline-block;
}
.b_cover .listbox .btns {
	position:absolute;
	text-align:center;
	bottom:10px;
	width:100%;
}
.b_cover .listbox .btns a {
	width:6px;
	height:6px;
	border-radius:3px;
	background:#fff;
	display:inline-block;
	margin:0 2px;
	overflow:hidden;
}
.b_cover .listbox .btns a.current {
	background:green;
}
.b_cover .listbox .imgNum {
	position:absolute;
	text-align:center;
	bottom:10%;
	width:100%;
	left:0;
	line-height:22px;
	font-size:12px;
	color:#fff;
}
.b_plan {
	overflow:hidden;
}
.b_plan .e_plan {
	padding-top:5px;
}
.b_plan .e_plan .date {
	position:relative;
	height:1%;
	padding:10px 0 10px 20px;
	line-height:32px;
	text-align:center;
	font-size:16px;
	color:#25a4bb;
	margin:0;
}
.b_plan .e_plan .jinghua_icon {
	position:absolute;
	right:10px;
	height:58px;
	width:58px;
	background:url("../images/travel/touch/jinghua_icon.png") no-repeat 0 0;
	background-size:58px 58px;
	z-index:10;
}
.b_plan .e_plan .planbox {
	position:relative;
	height:1%;
	font-size:14px;
	line-height:20px;
	border-left:#e8e9e8 2px solid;
	border-bottom:#e7e7e5 1px solid;
}
.b_plan .e_plan .img_morning {
	position:absolute;
	top:0;
	left:-12px;
}
.b_plan .e_plan .icon_location {
	position:absolute;
	top:0;
	right:-12px;
}
.b_plan .e_plan .planbox .contbox {
	position:relative;
	display:block;
	padding-bottom:10px;
	border-top:#e7e7e5 1px solid;
}
.b_plan .e_plan .planbox .contbox:active {
	background-color:#e3e3e3;
}
.b_plan .e_plan .planbox .contbox .tit {
	max-height:82px;
	line-height:41px;
	font-size:16px;
	color:#232323;
	overflow:hidden;
}
.b_plan .e_plan .planbox .contbox .tit .icon {
	float:left;
	height:30px;
	width:30px;
	padding:0;
	margin-top:5px;
	margin-right:8px;
	background:url("../images/travel/touch/notes_title_icon.png") no-repeat 0 0;
	background-size:120px 180px;
}
.b_plan .e_plan .planbox .des {
	line-height:20px;
	font-size:12px;
	color:#959595;
	padding:5px 0;
}
.b_plan .e_plan .planbox .contbox .note {
	line-height:20px;
	color:#585858;
	border-top:#e7e7e5 1px solid;
}
.b_plan .e_plan .planbox .contbox .note_img {
	position:relative;
	line-height:20px;
	font-size:12px;
	color:#959595;
	padding:0;
	margin-left:-5px;
}
.b_plan .e_plan .planbox .contbox .note_img .img_link {
	padding:5px 0;
	height:auto;
	width:300px;
}
.b_plan .e_plan .planbox .contbox .load_more {
	color:#25a4bb;
	text-align:center;
}
.b_plan .e_plan .btnbox {
	text-align:center;
	margin-top:20px;
}
.b_plan .e_plan .btnbox .btn_bg {
	display:inline-block;
	background-color:#dcf2ea;
	border:#b5ead6 1px solid;
	line-height:30px;
	font-size:12px;
	color:#08c37e;
	padding:0;
	margin:0 2%;
	white-space:nowrap;
	width:45%;
	min-width:120px;
	overflow:hidden;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
}
.b_plan .e_plan .btnbox .btn_bg:active {
	background-color:#8fddc1;
	border:#8fddc1 1px solid;
	color:#08c37e;
}
.b_plan .e_plan .btnbox .disabled, .b_plan .e_plan .btnbox .disabled:active {
	background-color:#cdded8;
	border:#d0d3d2 1px solid;
	color:#9acbb7;
}
.b_plan .e_plan .planbox .cost .tit .icon {
	background-position:-30px 0;
}
.b_plan .e_plan .planbox .bus .tit .icon {
	background-position:-60px 0;
}
.b_plan .e_plan .planbox .hotel .tit .icon {
	background-position:-90px 0;
}
.b_plan .e_plan .planbox .city .tit .icon {
	background-position:0 -30px;
}
.b_plan .e_plan .planbox .country .tit .icon {
	background-position:-30px -30px;
}
.b_plan .e_plan .planbox .flight .tit .icon {
	background-position:-60px -30px;
}
.b_plan .e_plan .planbox .food .tit .icon {
	background-position:-90px -30px;
}
.b_plan .e_plan .planbox .entertainment .tit .icon {
	background-position:0 -60px;
}
.b_plan .e_plan .planbox .othertransport .tit .icon {
	background-position:-30px -60px;
}
.b_plan .e_plan .planbox .train .tit .icon {
	background-position:-60px -60px;
}
.b_plan .e_plan .planbox .place .tit .icon {
	background-position:-90px -60px;
}
.b_plan .e_plan .planbox .shopping .tit .icon {
	background-position:0 -90px;
}
.b_plan .e_plan .planbox .prepare .tit .icon {
	background-position:-30px -90px;
}
.b_plan .e_plan .planbox .boat .tit .icon {
	background-position:-60 -90px;
}
.b_plan .e_plan .planbox .science .tit .icon {
	background-position:-90px -90px;
}
.b_plan .e_plan .planbox .other .tit .icon {
	background-position:0 -120px;
}
.b_plan .e_plan .planbox .passport .tit .icon {
	background-position:-30px -120px;
}
.b_plan .e_plan .planbox .car .tit .icon {
	background-position:-60px -120px;
}
.b_plan .e_plan .planbox .write .tit .icon {
	background-position:-90px -120px;
}
.b_plan .e_plan .planbox .add .tit .icon {
	background-position:0 -160px;
}
.b_plan .e_plan .planbox .tit .icon_more {
	position:absolute;
	top:50%;
	right:0;
	margin-right:12px;
	margin-top:-12px;
}
.b_plan_menu_box {
	height:52px;
}
.e_plan_menu {
	z-index:10;
	height:50px;
	width:100%;
	background-color:#f3f3f3;
	border-top:#aaa 1px solid;
	border-bottom:#aaa 1px solid;
}
.e_plan_menu .link {
	float:left;
	display:inline;
	width:33%;
	text-align:center;
	line-height:50px;
	color:#25a4bb;
	font-size:14px;
}
.e_plan_menu .link:active {
	background-color:#cdded8;
}
.b_plan .e_plan .title, .b_plan .e_plan .date {
	padding:0 15px 0 15px;
}
.b_plan .e_plan .planbox .contbox div {
	padding:0 15px 0 15px;
}
.b_plan .e_plan .planbox {
	background-color:#F3F3F3;
}
.b_plan .e_plan .title {
	height:60px;
	width:100%;
	line-height:1.5;
	border-bottom:#e7e7e5 1px solid;
	background-color:#FFF;
	overflow:hidden;
}
.b_plan .e_plan .title .name {
	color:#25a4bb;
	font-size:18px;
	line-height:1.5;
}
.b_plan .e_plan .title .messege {
	padding-top:10px;
	font-size:12px;
	color:#959595;
	clear:both;
}
.b_plan .e_plan .title .messege .item {
	float:left;
	padding-right:6px;
}
.b_dialog {
	position:fixed;
}
.b_plan .js_lazyimg {
	height:200px;
	width:300px;
	background:url("../images/travel/touch/luotuo.png") 0 0 no-repeat;
	background-size:300px 200px;
}
.b_strategy_filter {
	width:70%;
	min-width:230px;
	top:0;
	margin-left:-20%;
	padding:0;
}
.b_strategy_filter .e_strategy_filter {
	padding:0;
}
.b_strategy_filter .f_title {
	font-size:15px;
	line-height:45px;
	padding-left:15px;
}
.b_strategy_filter .f_strategytype {
	margin-top:5px;
}
.b_strategy_filter .menu_titbox {
	background-color:#f5f5f5;
}
.b_strategy_filter .menu_titbox .menu_tit {
	position:relative;
	height:38px;
	border-top:#bebebe 1px solid;
	border-bottom:#bebebe 1px solid;
	line-height:38px;
	font-size:15px;
	color:#959595;
	padding-left:15px;
	display:block;
	overflow:hidden;
}
.b_strategy_filter .menu_titbox .menu_tit .arrow {
	position:absolute;
	top:7px;
	right:10px;
}
.b_strategy_filter .menu_titbox .menu_tit .daysum {
	position:absolute;
	top:0;
	right:45px;
	line-height:38px;
	height:38px;
	font-size:15px;
	color:#f97b0b;
	width:40%;
	text-align:right;
	overflow:hidden;
}
.b_strategy_filter .f_strategytype .list_item {
	padding:5px 15px;
}
.b_strategy_filter .f_strategytype .list_item .item {
	float:left;
	display:inline;
	width:50%;
	line-height:25px;
	padding:3px 0;
	text-align:left;
}
.b_strategy_filter .f_strategytype .list_item .item .link {
	font-size:14px;
	color:#1d1d1d;
	display:block;
}
.b_strategy_filter .f_strategytype .list_item .selected .link {
	color:#25a4bb;
}
.b_strategy_filter .f_travemonth {
	margin-top:5px;
}
.b_strategy_filter .f_travemonth .list_item {
	padding:5px 15px;
}
.b_strategy_filter .f_travemonth .list_item .item {
	float:left;
	display:inline;
	width:33%;
	line-height:25px;
	padding:3px 0;
	text-align:left;
}
.b_strategy_filter .f_travemonth .list_item .item .link {
	font-size:14px;
	color:#1d1d1d;
	display:block;
}
.b_strategy_filter .f_travemonth .list_item .selected .link {
	color:#25a4bb;
}
.b_strategy_filter .f_traveday {
	margin-top:5px;
}
.b_strategy_filter .f_traveday .list_item {
	padding:5px 15px;
}
.b_strategy_filter .f_traveday .list_item .item {
	float:left;
	display:inline;
	width:33%;
	line-height:25px;
	padding:3px 0;
	text-align:left;
}
.b_strategy_filter .f_traveday .list_item .item .link {
	font-size:14px;
	color:#1d1d1d;
	display:block;
}
.b_strategy_filter .f_traveday .list_item .selected .link {
	color:#25a4bb;
}
.b_strategy_filter .f_submit {
	background-color:#25a4bb;
	display:block;
	margin:15px;
	font-size:15px;
	line-height:30px;
	text-align:center;
	color:#fff;
	border-radius:3px;
}
.b_strategy_filter .f_submit:active {
	background-color:#2fbfd9;
}
.b_strategy_filter .list_item .item .link:active {
	background-color:#cdded8;
}
.b_zoomimg {
	background-color:#e8f6f3;
	min-width:230px;
	padding:0;
}
.b_zoomimg .e_zoomimg {
	position:relative;
	height:1%;
}
.b_zoomimg .e_zoomimg .listbox {
	position:relative;
	overflow:hidden;
}
.b_zoomimg .e_zoomimg .listbox .list_item .list {
	float:left;
	display:inline;
}
.b_zoomimg .e_zoomimg .listbox .authorbox {
	position:absolute;
	left:10px;
	bottom:10px;
	line-height:18px;
}
.b_zoomimg .e_zoomimg .listbox .authorbox .icon {
	float:left;
	display:inline;
	margin-top:5px;
	margin-right:3px;
}
.b_zoomimg .e_zoomimg .listbox .authorbox .author {
	font-size:14px;
	color:#fff;
	-webkit-text-shadow:0 1px 0 rgba(0, 0, 0, 1);
	text-shadow:0 1px 0 rgba(0, 0, 0, 1);
}
.b_zoomimg .e_zoomimg .sliderbox {
	position:absolute;
	bottom:-20px;
	text-align:center;
	width:100%;
}
.b_zoomimg .e_zoomimg .sliderbox .slider .img_default {
	display:inline-block;
}
.b_zoomimg .e_zoomimg .sliderbox .slider .img_current {
	display:none;
}
.b_zoomimg .e_zoomimg .sliderbox .current .img_default {
	display:none;
}
.b_zoomimg .e_zoomimg .sliderbox .current .img_current {
	display:inline-block;
}
.scrollInnerBox {
	height:100%;
}
.scrollInnerBox ul {
	display:inline-table;
	width:100%;
	height:100%;
}
.scrollInnerBox li {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:100%;
}
.scrollInnerBox li img {
	max-height:400px;
	max-width:400px;
}
.scrollInnerBox .btns {
	position:absolute;
	text-align:center;
	bottom:10%;
	width:100%;
	left:0;
}
.scrollInnerBox .btns a {
	width:6px;
	height:6px;
	border-radius:3px;
	background:#fff;
	display:inline-block;
	margin:0 2px;
	overflow:hidden;
}
.scrollInnerBox .btns a.current {
	background:green;
}
.b_zoomimg {
	background:transparent;
}
.b_zoomimg {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1001;
}
.b_zoomimg .scrollInnerBox {
	width:100%;
	overflow:hidden;
	max-height:90%;
	margin:0 auto;
}
.b_zoomimg .e_dialog_ct {
	height:100%;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:-moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;
	display:-o-box;
	-o-box-orient:horizontal;
	-o-box-pack:center;
	-o-box-align:center;
	display:-ms-box;
	-ms-box-orient:horizontal;
	-ms-box-pack:center;
	-ms-box-align:center;
	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;
}
.scrollInnerBox .imgNum {
	position:absolute;
	text-align:center;
	bottom:10%;
	width:100%;
	left:0;
	line-height:22px;
	font-size:12px;
	color:#fff;
}
.b_download {
	background-color:#edf9f5;
}
.b_download .e_download_cover {
	height:190px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#7fafbc), to(#c0d3d7));
	background:-moz-linear-gradient(top, #7fafbc, #c0d3d7);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fafbc, endColorstr=#c0d3d7, grandientType=1);
}
.b_download .e_download_cover .cover_bgbox {
	position:relative;
	width:320px;
	height:190px;
	margin:0 auto;
}
.b_download .e_download_cover .img_phone {
	position:absolute;
	bottom:0;
	left:10px;
}
.b_download .e_download_cover .img_cloud {
	position:absolute;
	top:20px;
	right:10px;
}
.b_download .e_download_cover .tit {
	position:absolute;
	bottom:50px;
	left:185px;
	width:140px;
}
.b_download .e_download_cover .des {
	position:absolute;
	bottom:10px;
	left:185px;
	line-height:18px;
	font-size:10px;
	color:#fff;
	font-family:arial;
	-webkit-text-size-adjust:none;
	-webkit-text-shadow:0 1px 0 rgba(0, 0, 0, .2);
	text-shadow:0 1px 0 rgba(0, 0, 0, .2);
}
.b_download .e_download_cover .tit .img {
	float:left;
	display:inline;
	margin-right:5px;
}
.b_download .e_download_cover .tit .tit_1 {
	line-height:22px;
	font-size:14px;
	color:#009669;
}
.b_download .e_download_cover .tit .tit_2 {
	line-height:18px;
	font-size:10px;
	-webkit-text-size-adjust:none;
	color:#ed8600;
}
.b_download .e_download_btnbox {
	margin:20px auto 0;
	padding-bottom:10px;
	width:280px;
}
.b_download .e_download_btnbox .iphone_box {
	float:left;
	display:inline;
}
.b_download .e_download_btnbox .android_box {
	float:right;
	display:inline;
}
.b_download .e_download_btnbox .item_box {
	background-color:#d8e5e1;
	padding:2px;
	display:inline-block;
}
.b_download .e_download_btnbox .btn_iphone {
	position:relative;
	border:#859997 1px solid;
	width:120px;
	height:36px;
	display:block;
	font-size:16px;
	color:#fff;
	line-height:36px;
	box-shadow:inset 0 1px 1px #fff;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#ccdddc), to(#c3d8d5));
	background:-moz-linear-gradient(top, #ccdddc, #c3d8d5);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccdddc, endColorstr=#c3d8d5, grandientType=1);
}
.b_download .e_download_btnbox .btn_iphone:active {
	position:relative;
	border:#859997 1px solid;
	width:120px;
	height:36px;
	display:block;
	font-size:16px;
	color:#fff;
	line-height:36px;
	box-shadow:inset 0 1px 3px #809492;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#ccdddc), to(#c3d8d5));
	background:-moz-linear-gradient(top, #ccdddc, #c3d8d5);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccdddc, endColorstr=#c3d8d5, grandientType=1);
}
.b_download .e_download_btnbox .btn_iphone .icon_iphone {
	float:left;
	display:inline;
	margin-right:0;
	margin-top:5px;
}
.b_download .e_download_btnbox .btn_android {
	position:relative;
	border:#859997 1px solid;
	width:120px;
	height:36px;
	display:block;
	font-size:16px;
	color:#fff;
	line-height:36px;
	box-shadow:inset 0 1px 1px #fff;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#bee1cf), to(#a6d2b9));
	background:-moz-linear-gradient(top, #bee1cf, #a6d2b9);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bee1cf, endColorstr=#a6d2b9, grandientType=1);
}
.b_download .e_download_btnbox .btn_android:active {
	position:relative;
	border:#859997 1px solid;
	width:120px;
	height:36px;
	display:block;
	font-size:16px;
	color:#fff;
	line-height:36px;
	box-shadow:inset 0 1px 3px #809490;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#bee1cf), to(#a6d2b9));
	background:-moz-linear-gradient(top, #bee1cf, #a6d2b9);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bee1cf, endColorstr=#a6d2b9, grandientType=1);
}
.b_download .e_download_btnbox .btn_android .icon_android {
	float:left;
	display:inline;
	margin-right:0;
	margin-top:5px;
}
.b_download .e_download_btnbox .arrow_down {
	position:absolute;
	top:5px;
	right:5px;
}
.b_download .e_download_btnbox .txt {
	line-height:22px;
	font-size:14px;
	text-align:center;
	color:#97a7a5;
	padding:10px 0;
}
.b_album_list .list_link {
	display:block;
	padding:5px 0 5px 12px;
	border-bottom:1px solid #e7e7e5;
}
.b_album_list .list_txt {
	position:relative;
	padding:0 30px 0 0;
	margin-left:128px;
	height:108px;
}
.b_album_list .tit {
	font-size:14px;
	color:#232323;
	line-height:25px;
	padding:7px 0;
}
.b_album_list .tit .tit_link {
	width:100%;
	overflow:hidden;
	line-height:18px;
	height:36px;
	text-overflow:ellipsis;
}
.b_album_list .item {
	font-size:12px;
	color:#959595;
	line-height:16px;
	max-height:48px;
	overflow:hidden;
}
.b_album_list .imgbox {
	width:108px;
	height:108px;
	position:absolute;
	top:0;
	left:-128px;
}
.b_album_list .arrow_r {
	position:absolute;
	right:0;
	top:50%;
	margin:-12px 5px 0 0;
}
.b_load_more {
	display:block;
	padding:12px 0;
	color:#4f4f4f;
	line-height:16px;
	font-size:15px;
	text-align:center;
}
.b_load_more:active {
	background-color:#e5ebea;
}
.b_detail_info .e_info {
	background-color:#fff;
	padding:5px 5px 5px 8px;
	border-top:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
	position:relative;
}
.b_detail_info .e_info .info {
	line-height:18px;
	font-size:12px;
	color:#959595;
	overflow:hidden;
}
.b_detail_info .e_info .clip {
	max-height:36px;
	padding-right:50px;
}
.b_detail_info .e_info .arrow_r {
	position:absolute;
	right:0;
	top:50%;
	margin:-12px 25px 0 0;
}
.b_list_place .e_list_place {
	background-color:#f3f8f7;
}
.b_list_place .e_list_place .list {
	padding:8px 6px;
}
.b_list_place .e_hd {
	height:26px;
	line-height:26px;
}
.b_list_place .e_hd .tit {
	font-size:14px;
	padding-left:3px;
}
.b_list_place .e_list_link {
	background-color:#fff;
	display:block;
	padding:3px;
	margin-bottom:10px;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.12);
}
.b_list_place .e_list_link:last-child {
	margin-bottom:0;
}
.b_list_place .e_list_link .list_txt {
	position:relative;
	margin-left:172px;
	height:95px;
}
.b_list_place .e_list_link .tit {
	font-size:14px;
	color:#232323;
	line-height:25px;
}
.b_list_place .e_list_link .tit .tit_link {
	padding-top:25px;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.b_list_place .e_list_link .item {
	font-size:12px;
	color:#959595;
	line-height:18px;
	height:18px;
	overflow:hidden;
}
.b_list_place .e_list_link .imgbox {
	width:163px;
	height:95px;
	position:absolute;
	top:0;
	left:-172px;
}
.table_list {
	width:100%;
	overflow:hidden;
}
.table_list th {
	background-color:#f3f3f3;
	height:30px;
	padding:6px 0 0 10px;
	line-height:30px;
	border-bottom:solid 1px #e7e7e5;
	text-align:left;
	font-size:14px;
	color:#333;
}
.table_list th .icon {
	display:inline-block;
	vertical-align:-4px;
	margin:0 5px 0 0;
}
.table_list td {
	width:25%;
	border:solid 1px #e7e7e5;
	border-width:0 1px 1px 0;
	text-align:center;
	line-height:39px;
	height:39px;
	font-size:15px;
}
.table_list .more {
	display:block;
	height:39px;
	line-height:39px;
	font-size:15px;
}
.table_list .more:active {
	background-color:#e5ebea;
	color:#4f4f4f;
}
.guide_tab {
	height:35px;
	padding-top:5px;
	background-color:#f3f3f3;
	border-bottom:solid 1px #e7e7e5;
	line-height:27px;
	text-align:center;
}
.guide_tab .l_tab, .guide_tab .m_tab, .guide_tab .r_tab {
	display:inline-block;
	height:27px;
	width:96px;
	border:solid 1px #25a4bb;
	color:#25a4bb;
}
.guide_tab .cur_tab {
	background-color:#25a4bb;
	color:#fff;
}
.guide_tab .l_tab {
	border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}
.guide_tab .r_tab {
	border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}
.guide_tab .m_tab {
	margin:0 -1px;
	border-radius:0;
}
.txt_mod_box {
	color:#585858;
	font-size:14px;
	line-height:21px;
	padding:15px;
}
.txt_mod_box .section {
	margin:0 0 10px;
	padding:0 0 10px;
	border-bottom:solid 1px #e7e7e5;
}
.txt_mod_box .section .tit {
	font-size:17px;
	line-height:18px;
	color:#232323;
}
.txt_mod_box .section p {
	margin:15px 0 0;
}
.txt_mod_box .section p a:link, .txt_mod_box .section p a:visited {
	color:#25a4bb;
}
.txt_mod_box .section:last-child {
	border-bottom:none;
	margin:0;
}
.b_strategy_journey {
	width:70%;
	min-width:230px;
	top:0;
	margin-left:-20%;
	padding:0;
}
.b_strategy_journey .f_title {
	padding-left:13px;
}
.b_strategy_journey .f_title .tit {
	font-size:16px;
	line-height:25px;
	color:#232323;
}
.b_strategy_journey .f_title .timebox {
	font-size:12px;
	line-height:18px;
	color:#959594;
}
.b_strategy_journey .f_strategytype {
	margin-top:5px;
}
.b_strategy_journey .f_day_dest {
	max-height:320px;
	overflow-y:auto;
}
.b_strategy_journey .menu_titbox {
	background-color:#f5f5f5;
}
.b_strategy_journey .menu_titbox .menu_day {
	height:38px;
	border-top:#bebebe 1px solid;
	border-bottom:#bebebe 1px solid;
	line-height:38px;
	font-size:14px;
	padding-left:13px;
	display:block;
	overflow:hidden;
}
.b_strategy_journey .menu_titbox .menu_day .day {
	color:#959595;
}
.b_strategy_journey .f_day_dest .list_item {
	padding:5px;
}
.b_strategy_journey .f_day_dest .list_item .item {
	float:left;
	display:inline;
	width:100%;
	line-height:45px;
	overflow:hidden;
	height:45px;
	padding:0;
	text-align:left;
}
.b_strategy_journey .f_day_dest .list_item .item .link {
	width:100%;
	font-size:14px;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.b_strategy_journey .f_day_dest .list_item .selected .link {
	background-color:#e5ebea;
}
.b_strategy_journey .f_day_dest .list_item .item .icon {
	float:left;
	display:inline;
	margin:10px 5px 0 5px;
}
.b_share {
	background-color:#e4e4e4;
	width:100%;
	min-width:230px;
	top:0;
	margin-left:-50%;
	padding:0;
}
.b_share .e_share .hd {
	font-size:17px;
	line-height:35px;
	text-align:center;
}
.b_share .e_share .ct {
	padding:10px 0;
	margin:0 10px;
	border-bottom:#25a4bb 1px solid;
}
.b_share .e_share .list_item {
	width:80%;
	margin:0 auto;
}
.b_share .e_share .list_item .item {
	float:left;
	display:inline;
	width:50%;
}
.b_share .e_share .list_item .share_qq, .b_share .e_share .list_item .share_weixin_pyq, .b_share .e_share .list_item .share_weixin, .b_share .e_share .list_item .share_weibo {
	display:block;
	text-align:center;
}
.b_share .e_share .list_item .imgbox {
	text-align:center;
}
.b_share .e_share .list_item .txt {
	text-align:center;
	line-height:22px;
	font-size:13px;
}
.b_share .e_share .btn_cancel {
	text-align:center;
	font-size:15px;
	color:#25a4bb;
	display:block;
	line-height:45px;
}
.b_share .e_share .btn_cancel:active {
	background-color:#cdded8;
}
.b_place_hotel {
	line-height:14px;
}
.b_place_hotel .list_link {
	display:block;
	padding:5px 12px;
	overflow:hidden;
	clear:both;
	border-bottom:solid 1px #e7e7e5;
}
.b_place_hotel .imgbox {
	float:left;
	width:112px;
	height:95px;
	position:relative;
}
.b_place_hotel .imgbox .img {
	width:100%;
	height:100%;
}
.b_place_hotel .imgbox .cover {
	position:absolute;
	left:0;
	top:0;
}
.b_place_hotel .list_txt {
	margin-left:122px;
}
.b_place_hotel .list_txt dt {
	height:32px;
	overflow:hidden;
	padding:4px 0;
	line-height:16px;
	font-size:14px;
	color:#232323;
}
.b_place_hotel .list_txt .item {
	color:#959595;
	font-size:10px;
	line-height:14px;
}
.b_place_hotel .list_txt .item .icon_pl {
	vertical-align:-2px;
	margin-right:3px;
}
.city_top_tit {
	height:39px;
	border-top:solid 1px #e7e7e5;
	border-bottom:solid 1px #e7e7e5;
	background-color:#f3f3f3;
	font-size:14px;
	padding-left:14px;
	color:#000;
	text-align:left;
	line-height:39px;
}
.city_top_index {
	width:98%;
	margin:6px auto;
}
.country_top_index {
	width:100%;
	margin:6px auto 0;
}
.city_top_index td {
	width:20%;
	font-size:13px;
	line-height:15px;
	text-align:center;
	color:#585858;
	border-right:solid 1px #ebebeb;
	border-bottom:solid 1px #ebebeb;
}
.country_top_index td {
	width:25%;
}
.city_top_index .no_border_r {
	border-right:none;
}
.city_top_index .no_border_b td {
	border-bottom:none;
}
.city_top_index td a {
	display:block;
	padding:7px 0;
}
.city_top_index td img {
	vertical-align:top;
	margin:0 auto 5px;
	width:26px;
	height:26px;
}
.b_crumb .e_crumb .top_filter_btn {
	position:absolute;
	top:10px;
	right:15px;
}
.b_crumb .e_crumb .comment_filter {
	position:absolute;
	top:41px;
	right:5px;
	width:100px;
	line-height:40px;
	font-size:13px;
	z-index:5;
}
.b_crumb .e_crumb .comment_filter dt {
	border-style:solid;
	border-width:8px;
	border-color:transparent transparent #000 transparent;
	height:0;
	width:0;
	position:relative;
	left:73px;
}
.b_crumb .e_crumb .comment_filter dd {
	border-bottom:solid 1px #303030;
	background-color:#000;
	opacity:.9;
}
.b_crumb .e_crumb .comment_filter dd a {
	display:block;
	color:#bbb;
	padding-left:10px;
}
.comment_filter dd a:link, .comment_filter dd a:visited {
	color:#bbb;
}
.comment_filter dd a:hover, .comment_filter dd a:active {
	color:#ff6c39;
}
.comment_filter dd .icon {
	float:left;
	width:20px;
	height:20px;
	margin:10px 6px 0 0;
	background-size:100% 100%;
	background-position:0 0;
	background-repeat:no-repeat;
}
.comment_filter .all .icon {
	background-image:url("../images/travel/touch/filter_icon_f.png");
}
.comment_filter .all .cur {
	background-image:url("../images/travel/touch/filter_icon_f_b.png");
}
.comment_filter .sight .icon {
	background-image:url("../images/travel/touch/filter_icon_a.png");
}
.comment_filter .sight .cur {
	background-image:url("../images/travel/touch/filter_icon_a_b.png");
}
.comment_filter .hotel .icon {
	background-image:url("../images/travel/touch/filter_icon_b.png");
}
.comment_filter .hotel .cur {
	background-image:url("../images/travel/touch/filter_icon_b_b.png");
}
.comment_filter .food .icon {
	background-image:url("../images/travel/touch/filter_icon_c.png");
}
.comment_filter .food .cur {
	background-image:url("../images/travel/touch/filter_icon_c_b.png");
}
.comment_filter .fun .icon {
	background-image:url("../images/travel/touch/filter_icon_d.png");
}
.comment_filter .fun .cur {
	background-image:url("../images/travel/touch/filter_icon_d_b.png");
}
.comment_filter .shopping .icon {
	background-image:url("../images/travel/touch/filter_icon_e.png");
}
.comment_filter .shopping .cur {
	background-image:url("../images/travel/touch/filter_icon_e_b.png");
}
.place_comment_list {
	padding:0 0 5px;
	font-size:13px;
	color:#1d1d1d;
	line-height:18px;
}
.place_comment_list .item {
	clear:both;
	border-bottom:solid 1px #e7e7e5;
	padding:0 15px;
	margin:10px auto 0;
}
.place_comment_list a:link, .place_comment_list a:visited {
	color:#25a4bb;
}
.place_comment_list .item dt {
	font-size:15px;
	padding:4px 0 0;
	margin:0 0 15px;
}
.place_comment_list .time_type, .place_comment_list .txt {
	clear:both;
	overflow:hidden;
	margin:10px 0;
	width:100%;
}
.place_comment_list .des {
	clear:both;
	margin:10px 0;
	padding-right:20px;
	line-height:25px;
	position:relative;
}
.place_comment_list .more_link {
	position:absolute;
	bottom:1px;
	right:0;
}
.place_comment_list .time_type .type {
	float:left;
}
.place_comment_list .time_type .stars {
	float:left;
	padding:4px 0 0 8px;
}
.place_comment_list .time_type .star {
	float:left;
	width:8px;
	height:8px;
	margin:0 2px;
}
.place_comment_list .starbox {
	float:left;
	display:inline;
	margin-top:5px;
	margin-left:12px;
	position:relative;
	width:50px;
	height:8px;
	line-height:0;
	font-size:0;
}
.place_comment_list .curstar {
	position:absolute;
	top:0;
	left:0;
	line-height:0;
	font-size:0;
	width:50px;
	height:8px;
	overflow:hidden;
}
.place_comment_list .time_type .time {
	color:#93908e;
	float:right;
}
.place_comment_list .note_img {
	line-height:20px;
	font-size:12px;
	color:#959595;
	padding:5px 0 10px;
}
.place_comment_list .note_img .img {
	margin:3px 3px 0 0;
}
.place_comment_list .e_noresult {
	margin:50px auto 0;
	width:160px;
	text-align:center;
	font-size:11px;
	line-height:18px;
	color:#cecece;
	-webkit-text-size-adjust:none;
}
.b_citylist .list_item .list {
	position:relative;
	height:1%;
	line-height:22px;
	border-bottom:#e7e7e5 1px solid;
}
.b_citylist .list_item .list_pack {
	padding:14px 0;
}
.b_citylist .list_item .last {
	border-bottom:0 none;
}
.b_citylist .list_item .list .item_link {
	display:block;
	padding:14px 0 14px 10px;
	line-height:22px;
	color:#232323;
}
.b_citylist .list_item .list .item_link:active {
	background-color:#e3e3e3;
}
.b_citylist .list_item .list .related_link {
	position:absolute;
	top:0;
	right:15px;
	line-height:50px;
	color:#d8d8d7;
}
.b_citylist .list_item .list .related_link img {
	float:right;
	display:inline;
	margin-top:13px;
}
.b_citylist .list_item .list .item_tit {
	float:left;
	display:block;
	color:#959595;
	line-height:22px;
	font-size:14px;
}
.b_citylist .list_item .list .item_cout {
	display:block;
	margin:0 0 0 45px;
	line-height:22px;
	color:#232323;
	font-size:14px;
}
.b_citylist .list_item .list .item_cout_v2 {
	display:block;
	margin:0 0 0 75px;
	line-height:22px;
	color:#232323;
	font-size:14px;
}
.b_citylist .list_title {
	line-height:25px;
	padding:13px 0;
	border-bottom:#e7e7e5 1px dotted;
}
.b_citylist .list_title .list_title_tit {
	font-size:15px;
	color:#232323;
}
.b_citylist .list_title .list_title_tit .icon {
	float:left;
	display:inline;
	margin-right:3px;
}
.b_citylist .list_title .list_title_des {
	position:relative;
	height:1%;
	padding-right:20px;
	font-size:14px;
	line-height:22px;
	color:#959595;
}
.b_citylist .list_title .list_title_des .more {
	position:absolute;
	bottom:-3px;
	right:0;
}
.b_citylist .list_item .list .icon_location {
	position:absolute;
	top:50%;
	right:0;
	margin-top:-25px;
}
.b_citylist .list_item .list .icon_more {
	position:absolute;
	top:50%;
	right:0;
	margin-top:-12px;
	margin-right:12px;
}
.b_citylist .list_item .list .icon_schedule {
	position:absolute;
	top:50%;
	right:7px;
	margin-top:-11px;
}
.b_citylist .list_item .list .item_t_tit {
	color:#959595;
	line-height:22px;
	font-size:14px;
}
.b_citylist .list_item .list .item_t_author {
	position:relative;
	height:22px;
	color:#959595;
	line-height:22px;
	font-size:14px;
}
.b_citylist .list_item .list .item_t_author .item_t_date {
	position:absolute;
	top:0;
	right:10px;
	color:#959595;
	line-height:22px;
	font-size:14px;
}
.b_citylist .list_item .list .item_t_des {
	position:relative;
	color:#232323;
	line-height:22px;
	font-size:14px;
	padding-right:35px;
}
.b_citylist .list_item .list .said_tit {
	display:block;
	padding-left:20px;
	line-height:25px;
	font-size:14px;
	color:#959595;
}
.b_citylist .list_item .list .said_des {
	display:block;
	padding-left:20px;
	line-height:18px;
	font-size:14px;
	color:#232323;
}
.b_citylist .list_item .list .said_time {
	position:absolute;
	top:14px;
	right:10px;
	display:block;
	padding-left:20px;
	font-size:12px;
	line-height:18px;
	color:#959595;
}
.b_citylist .list_item .list .comment_tit {
	display:block;
	padding-left:20px;
	line-height:25px;
	font-size:14px;
	color:#959595;
}
.b_citylist .list_item .list .comment_des {
	display:block;
	padding-left:20px;
	line-height:18px;
	font-size:14px;
	color:#232323;
}
.b_citylist .list_item .list .comment_time {
	position:absolute;
	top:14px;
	right:10px;
	display:block;
	padding-left:20px;
	font-size:12px;
	line-height:18px;
	color:#959595;
}
.b_citylist .list_item .list .comment_des .c_link {
	color:#08c37e;
}
.b_citylist .m_tagbox {
	height:44px;
}
.b_citylist .m_tagbox .tag {
	background-color:#ebebeb;
	width:50%;
	height:44px;
	float:left;
	display:inline;
}
.b_citylist .m_tagbox .tag .txt {
	background-color:#ebebeb;
	height:40px;
	line-height:40px;
	text-align:center;
}
.b_citylist .m_tagbox .current {
	background-color:#25a4bb;
}
.b_citylist .m_tagbox .current .txt {
	color:#25a4bb;
}
.b_citylist .list_hd {
	background-color:#ebebeb;
	padding-left:10px;
	height:23px;
	line-height:23px;
	font-size:14px;
	border-top:#bcbcbc 1px solid;
	border-bottom:#bcbcbc 1px solid;
}
.b_citylist .btn_more {
	display:block;
	color:#4f4f4f;
	font-size:15px;
	line-height:30px;
	text-align:center;
	margin:10px 0 20px;
	border-radius:2px;
}
.b_citylist .btn_more:active {
	background-color:#e3e3e3;
}
.b_moredist .e_moredist {
	position:relative;
	height:76px;
	background-color:#faf7ed;
	padding:5px 0 5px 75px;
	border-top:#ccc 1px solid;
	border-bottom:#ccc 1px solid;
}
.b_moredist .e_moredist .linkbox {
	display:block;
}
.b_moredist .e_moredist .iconbox {
	position:absolute;
	top:21px;
	left:15px;
	width:45px;
	height:45px;
}
.b_moredist .e_moredist .more {
	position:absolute;
	top:32px;
	right:5px;
	width:25px;
	height:25px;
}
.b_moredist .e_moredist .tit {
	margin-top:5px;
	font-size:17px;
	color:#333;
	line-height:25px;
}
.b_moredist .e_moredist .des {
	font-size:12px;
	color:#888;
	line-height:20px;
}
.b_strategylist .m_tagbox {
	height:44px;
}
.b_strategylist .m_tagbox .tag {
	background-color:#ebebeb;
	width:50%;
	height:44px;
	float:left;
	display:inline;
}
.b_strategylist .m_tagbox .tag .txt {
	background-color:#ebebeb;
	height:40px;
	line-height:40px;
	text-align:center;
}
.b_strategylist .m_tagbox .current {
	background-color:#25a4bb;
}
.b_strategylist .m_tagbox .current .txt {
	color:#25a4bb;
}
.b_strategylist .list_txt_link {
	display:block;
	padding:5px 0;
	overflow:hidden;
	clear:both;
	border-bottom:solid 1px #e7e7e5;
}
.b_strategylist .list_txt_link:active {
	background-color:#e3e3e3;
}
.b_strategylist .list_txt_link .imgbox {
	position:absolute;
	top:0;
	left:-120px;
	width:102px;
	height:102px;
}
.b_strategylist .list_txt_link .imgbox img {
	vertical-align:top;
}
.b_strategylist .list_txt {
	position:relative;
	height:102px;
	margin-left:120px;
	line-height:18px;
}
.b_strategylist .list_txt .tit {
	font-size:14px;
	color:#232323;
	line-height:20px;
	overflow:hidden;
	padding:0;
}
.b_strategylist .list_txt .author {
	-webkit-text-size-adjust:none;
	font-size:10px;
	color:#959595;
	text-align:left;
	line-height:20px;
	height:20px;
	overflow:hidden;
}
.b_strategylist .list_txt .author img {
	float:left;
	display:inline;
	margin-top:5px;
	margin-right:3px;
}
.b_strategylist .list_txt .item {
	-webkit-text-size-adjust:none;
	font-size:10px;
	color:#959595;
	line-height:18px;
	height:18px;
	overflow:hidden;
}
.b_strategylist .list_txt .datebox {
	-webkit-text-size-adjust:none;
	font-size:10px;
	color:#959595;
	line-height:18px;
	height:18px;
	overflow:hidden;
}
.b_strategylist .list_txt .date {
	float:left;
	display:inline;
}
.b_strategylist .list_txt .viewsum {
	padding-left:18px;
	float:left;
	display:inline;
}
.b_strategylist .list_txt .viewsum img {
	margin-right:3px;
	margin-top:3px;
	vertical-align:-2px;
}
.b_strategylist .list_txt .tit_link {
	color:#232323;
	line-height:20px;
	height:40px;
	overflow:hidden;
}
.qn_page {
	background-color:#fff;
	height:100%;
	width:100%;
}
.notice_login {
	width:180px;
	line-height:28px;
	height:80px;
	background:#484848;
	padding:15px;
	border-radius:10px;
	position:fixed;
	font-family:"microsoft yahei";
	margin-left:-105px;
	left:50%;
	margin-top:-120px;
	top:50%;
}
.notice_login .txt {
	width:100%;
	height:100px;
	color:#fff;
	display:block;
	margin:0;
	padding:0;
}
.notice_login .txt span {
	color:#f00;
}
.notice_login .txt a {
	color:#25a4bb;
	text-decoration:none;
}
