<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal" onSubmit="return checkInput();">
    	<input type="hidden" name="cat_type" value="{$cat_type}" />
        <div class="form-item">
            <label class="item-label">登录手机号</label>
            <div class="controls">
                <input type="text" class="text input-large" name="user_name" value="{$info.user_name|default=''}">
            </div>
        </div>
		
		 <div class="form-item">
            <label class="item-label">密码</label>
            <div class="controls">
                <input type="password" class="text input-large" name="password" value="{$info.password|default=''}">
            </div>
        </div>
		
		
		 <div class="form-item">
            <label class="item-label">邮箱</label>
            <div class="controls">
                <input type="text" class="text input-large" name="email" value="{$info.email|default=''}">
            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">姓名</label>
            <div class="controls">
                <input type="text" class="text input-large" name="uName" value="{$info.uName|default=''}">
            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">上级</label>
            <div class="controls">
				  <input type="text" class="text input-large" name="parent_id" value="{$info.parent_id|default=''}">
			</div>
        </div>
		
		<div class="form-item">
            <label class="item-label">类型</label>
            <div class="controls">
                 <select name="intType">
                		<option value="3">检查员</option>
                   		<option value="2">督导员</option>
						<option value="1">项目管理员</option>
                </select>
            </div>
        </div>
        
      
       
		<div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
              <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
    
  
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
