<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>修改</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal" onSubmit="return checkInput();">
    	<input type="hidden" name="cat_type" value="{$cat_type}" />
        <div class="form-item">
            <label class="item-label">登录手机号</label>
            <div class="controls">
              	   {$info.user_name|default=''}
            </div>
        </div>
		
		 <div class="form-item">
            <label class="item-label">密码</label>
            <div class="controls">
                <input type="password" class="text input-large" name="password">
            </div>
        </div>
		
		
		 <div class="form-item">
            <label class="item-label">邮箱</label>
            <div class="controls">
                <input type="text" class="text input-large" name="email" value="{$info.email|default=''}">
            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">姓名</label>
            <div class="controls">
                <input type="text" class="text input-large" name="uName" value="{$info.uname|default=''}">
            </div>
        </div>
		
		
		<div class="form-item">
            <label class="item-label">类型</label>
            <div class="controls">
                 <select name="intType">
                		<option value="3">检查员</option>
                   		<option value="2">督导员</option>
						<option value="1">项目管理员</option>
                </select>
            </div>
        </div>
        
      <Script language="JavaScript">
var intType = "{$info.inttype}";
			for(var i=1;i<document.all.intType.options.length;i++){
				if(document.all.intType.options[i].value == intType){
					document.all.intType.options[i].selected = true;
				}
			}
</script>
       
	   <div class="form-item">
            <label class="item-label">openid</label>
            <div class="controls">
                <input type="text" class="text input-large" name="openid" value="{$info.openid|default=''}">
            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">上级</label>
            <div class="controls">
                <input type="text" class="text input-large" name="parent_id" value="{$info.parent_id|default=''}">
            </div>
        </div>
		
		 <div class="form-item">
            <label class="item-label">使用状态</label>
            <div class="controls">
                    <if condition="$info.ublock eq 1 ">
                         <label class="radio"><input type="radio" name="ublock" value="1" checked="checked">锁定</label>
                         <label class="radio"><input type="radio" name="ublock" value="0">通过</label>
                     <else/>
                        <label class="radio"><input type="radio" name="ublock" value="1">锁定</label>
                        <label class="radio"><input type="radio" name="ublock" value="0" checked="checked">通过</label>
                     </if>
           </div>
        </div>
		
		
		<div class="form-item">
            <input type="hidden" name="id" value="{$info.user_id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
              <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
    
  
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
