<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>修改</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal" onSubmit="return checkInput();">
    	<input type="hidden" name="cat_type" value="{$info.cat_type}" />
        <div class="form-item">
            <label class="item-label">分类名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="cat_name" value="{$info.cat_name|default=''}">
            </div>
        </div>
         <div class="form-item">
            <label class="item-label">上级分类<span class="check-tips">（所属的上级）</span></label>
            <div class="controls">
                <select name="parent_id">
                		<option value="0">顶级分类</option>
                    <volist name="cat" id="category">
                        <option value="{$category.cat_id}">++{$category.cat_name}</option>
                    </volist>
                </select>
            </div>
        </div>
        
<Script language="JavaScript">
var parent_id = "{$info.parent_id}";
			for(var i=1;i<document.all.parent_id.options.length;i++){
				if(document.all.parent_id.options[i].value == parent_id){
					document.all.parent_id.options[i].selected = true;
				}
			}
</script>
        <div class="form-item">
            <label class="item-label">排序<span class="check-tips">（用于分组显示的顺序）</span></label>
            <div class="controls">
                <input type="text" class="text input-small" name="sort_order" value="{$info.sort_order|default=0}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">是否显示</label>
            <div class="controls">
                    <if condition="$info.is_show eq 1 ">
                         <label class="radio"><input type="radio" name="is_show" value="1" checked="checked">是</label>
                         <label class="radio"><input type="radio" name="is_show" value="0">否</label>
                     <else/>
                        <label class="radio"><input type="radio" name="is_show" value="1">是</label>
                        <label class="radio"><input type="radio" name="is_show" value="0" checked="checked">否</label>
                     </if>
           </div>
        </div>
         <div class="form-item">
            <label class="item-label">是否推荐</label>
            <div class="controls">
            	 	 <if condition="$info.is_good eq 1 ">
                         <label class="radio"><input type="radio" name="is_good" value="1" checked="checked">是</label>
                         <label class="radio"><input type="radio" name="is_good" value="0">否</label>
                     <else/>
                        <label class="radio"><input type="radio" name="is_good" value="1">是</label>
                        <label class="radio"><input type="radio" name="is_good" value="0" checked="checked">否</label>
                     </if>
                   
            </div>
        </div>
         <div class="form-item">
            <label class="item-label">生成文件名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="file_name" value="{$info.file_name|default=''}">  后缀为.html
            </div>
        </div>
        
         <div class="form-item">
            <label class="item-label">首页排序<span class="check-tips">（用于分组显示的顺序）</span></label>
            <div class="controls">
                <input type="text" class="text input-small" name="index_sort_order" value="{$info.index_sort_order|default=0}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">首页是否显示</label>
            <div class="controls">
            		 <if condition="$info.index_is_show eq 1 ">
                         <label class="radio"><input type="radio" name="index_is_show" value="1" checked="checked">是</label>
                         <label class="radio"><input type="radio" name="index_is_show" value="0">否</label>
                     <else/>
                        <label class="radio"><input type="radio" name="index_is_show" value="1">是</label>
                        <label class="radio"><input type="radio" name="index_is_show" value="0" checked="checked">否</label>
                     </if>
                
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">首页提取的数量</label>
            <div class="controls">
                <input type="text" class="text input-small" name="index_count" value="{$info.index_count|default=0}">
            </div>
        </div>
		<div class="form-item">
            <input type="hidden" name="id" value="{$info.cat_id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
              <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
    
  
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
