<extend name="Public/base" />
<block name="body">
	
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>前台账号管理</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('Admin/Member/add/')}">新 增</a>
			 <a class="btn" href="{:U('Admin/Member/test/')}">测试</a>
        </div>

        <!-- 高级搜索 -->
		<!--<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="nickname" class="search-input" value="{:I('username')}" placeholder="请输入医生/护士姓名或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>-->
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table-bordered">
    <thead>
        <tr>
		<th  class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th  width="30">ID</th>
		<th width="150">登录手机号</th>
		<th width="100">邮箱</th>
		<th>姓名</th>
		<th>类型</th>
		<th>注册时间</th>

		<th>使用状态</th>
		<th width="80">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.user_id}" /></td>
			<td>{$vo.user_id} </td>
			<td>{$vo.user_name}</td>
			<td>{$vo.email}</td>
			<td>{$vo.uname}</td>
			<td>
			 <if condition="$vo.inttype eq 1">项目管理员
			 <elseif condition="$vo.inttype eq 2" />督导员
             <else/>检查员
             </if>
			
			
			</td>
			<td>{$vo.reg_time|date='Y-m-d H:i:s',###}</td>

			<td>
             <if condition="$vo.ublock eq '0'">
             	<font color="green">√</font>
             <else/>
             	<font color="red">X</font>
             </if>
           
            </td>
			<td>
                <a href="{:U('Member/edit?id='.$vo['user_id'])}">修改</a>
                <a href="{:U('Member/del?id='.$vo['user_id'])}" class="confirm ajax-get" confirm-msg="删除这个操作">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    
    <div>
        {$page}
    </div>
 
</block>
<!--
<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script src="__STATIC__/jquery.placeholder.min.js"></script>
	<script type="text/javascript">
	$('input, textarea').placeholder();
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>-->
