<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增</h2>
    </div>
     <form action="{:U()}" method="post" name="fm" enctype="multipart/form-data" class="form-horizontal">
    	<input type="hidden" name="cat_type" value="{$cat_type}" />
        <div class="form-item">
            <label class="item-label">标题</label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">内容</label>
            <div class="controls">
            	<textarea name="content" id="myEditor"></textarea>
                <script type="text/javascript">
					window.UEDITOR_CONFIG.initialFrameWidth = 560;
					window.UEDITOR_CONFIG.initialFrameHeight = 160;
					UE.getEditor('myEditor');
				</script>
            </div>
        </div>
         <div class="form-item">
            <label class="item-label">是否显示</label>
            <div class="controls">
            	<label class="radio"><input type="radio" name="is_show" value="1" checked="checked">是</label>
                <label class="radio"><input type="radio" name="is_show" value="0">否</label>
                   
            </div>
        </div>
     
        
        <div class="form-item">
            <label class="item-label">排序<span class="check-tips">（用于分组显示的顺序）</span></label>
            <div class="controls">
                <input type="text" class="text input-small" name="sort_order" value="{$info.sort|default=0}">
            </div>
        </div>
        
      
		<div class="form-item">
              <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
              <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
    
  
</block>

<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
		
		 //下面用于图片上传预览功能
    function setImagePreview(avalue) {
        var docObj=document.getElementById("doc");
        var imgObjPreview=document.getElementById("preview");
        if(docObj.files &&docObj.files[0]) {
//火狐下，直接设img属性
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.width = '80px';
           // imgObjPreview.style.height = '168px';
//火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        } else {
//IE下，使用滤镜
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            var localImagId = document.getElementById("localImag");
//必须设置初始大小
            localImagId.style.width = "80px";
           // localImagId.style.height = "168px";
//图片异常的捕捉，防止用户修改后缀来伪造图片
            try{
                localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            }
            catch(e){
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty();
        }
        return true;
     }
    </script>
</block>
