<extend name="Public/base" />
<block name="body">
	
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>文章管理</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('Admin/News/add')}">新 增</a>
			<a class="btn" href="#" onClick="openW('批量导入文章','{:U('/Admin/News/upload')}');">批量导入文章</a>
			<a class="btn" href="/Public/xls/news_moban.xls">下载文章模板</a>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="keywords" class="search-input" value="{:I('get.keywords')}" placeholder="关键字">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table-bordered">
    <thead>
        <tr>
		<th  class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th  width="30">ID</th>
		<th>主题</th>
	
		<th>创建时间</th>
		<th>是否显示</th>
        <th>排序</th>
       
		<th width="80">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.title}</td>
			
			<td>{$vo.create_time}</td>
			<td>
             <if condition="$vo.is_show eq '1'">
             	<font color="green">√</font>
             <else/>
             	<font color="red">X</font>
             </if>
            </td>
            <td>{$vo.sort_order}</td>
            
			<td>
                <a href="{:U('News/edit?id='.$vo['id'])}">修改</a>
                <a href="{:U('News/del?cat_id='.$vo['cat_id'].'&id='.$vo['id'])}" class="confirm ajax-get" confirm-msg="删除这个操作">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    
    <div>
        {$page}
    </div>
 
</block>
<!--
<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script src="__STATIC__/jquery.placeholder.min.js"></script>
	<script type="text/javascript">
	$('input, textarea').placeholder();
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>-->
