﻿@charset "utf-8";


html {
	background-color: #40627c;
	color:#333333;
	background-position:left top;
}
.fs_main {
	width:570px
}
.fs_cTitle {
	font-size:14px;
	line-height:16px;
}
.fs_content {
	font-size:12px;
}
@media screen and (max-width:570px) {
div.fs_main {
width:100%;
}
}
div.f_share {
	left:570px
}
div.f_share_main {
	width:570px
}
@media screen and (max-width:792px) {
div.f_share {
display:none;
}
}
.fs_cValidate {
	color:#18191a;
}
.fs_cDescribe a, .fs_cDescribe a:visited {
	color:#7c7c7c
}
.fs_cDescribe, .fs_cLink, .fs_cLink:visited {
	color:#7c7c7c
}
.fs_cExtraDescribe {
	color:#7c7c7c
}
.fs_sectionDescribe, .fs_imgDescribe {
	color:#7c7c7c
}
.fs_component {
	background-color: #d6ceb1;
	color:#18191a
}
.fs_header {
	background-color: #f7cd40;
	color:#7c7c7c;
}
.fs_main {
	background-color: #fffae4;
	color:#18191a;
}
.fs_submitBtn {
	background-color:#40627c;
	color:#fff;
	box-shadow: 0 2px 4px -2px #577891;
}
.fs_submitBtn:hover {
	background-color:#577891
}
.f_copyright .fs_powerby {
	color:#EEE;
}
.Zebra_DatePicker td.dp_selected {
	background-color:#40627c;
	color:#fff;
}
.Zebra_DatePicker td.dp_current {
	color:#577891
}
