.formManager_top{
	height: 60px;
	padding: 10px 50px;
	background: #E4EAEB;
	-webkit-user-select:none;
	-moz-user-select:none;
	border-bottom: 1px solid #D0D0D0;
}
.btn_newForm{
	margin-top: 20px;
}

.formManager_interim{
	position: relative;
	height: 29px;
	margin: 8px 50px;
	border-bottom: 1px solid #D0D0D0;
}
.formManager_groupList{
	float: left;
	height: 29px;
}
.formManager_groupList li{
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	background-color: #fff;
	border: 1px solid transparent;
	border-bottom: 0 none;
	border-radius: 2px 2px 0 0;
}
.formManager_groupList li:hover{
	border-color: #D0D0D0;
}
.formManager_groupList li.active{
	height: 29px;
	border-color: #D0D0D0;
}
.formManager_groupList .formGroup_new{
	position: relative;
	padding-left: 30px;
	background: #fff url(../images/icon/addBlue.png) 12px 5px no-repeat;
}
.formManager_groupList .formGroup_list{
	position: relative;
	z-index: 100;
	padding: 0 5px;
}
.formGroup_nc{
	display: none;
	min-width: 102px;
	text-align: center;
}
.formGroup_list.active .formGroup_nc{
	cursor: text;
}
.formGroup_count{
	margin-left: 4px;
	margin-right: 15px;
	color: #CCC;
}
.formGroup_input{
	display: none;
	width: 98px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	padding: 0 2px;
	border: 0 none;
	border-bottom: 1px solid transparent;
}
.formGroup_input:hover, .formGroup_input:focus{
	border-color: transparent;
}
.formGroup_input:focus{
	border-bottom-color: #609ED2;
}
.formGroup_input.error, .formGroup_input.error:focus{
	border: 0 none;
	border-bottom: 1px solid #7A3230;
}
.formGruop_remove{
	display: none;
	position: absolute;
	top: 0;
	right: 5px;
	width: 14px;
	height: 29px;
	background: url(../images/icon/formGroup_delete.png) 0 center no-repeat;
}
.formGroup_list.active .formGruop_remove.show, .formGroup_nc.show{
	display: inline-block;
}
.formGroup_addGroup{
	display: none;
	position: absolute;
	left: -1px;
	top: 29px;
	width: 180px;
	padding: 5px;
	line-height: 20px;
	border: 1px solid #D0D0D0;
	border-top: 0 none;
	background-color: #fff;
	z-index: 300;
}
.input_addGroup{
	width: 120px;
	padding: 2px 5px;
}
.input_addGroup.error:focus{
	border-color: #7A3230;
}
.btn_addGroup{
	padding: 2px 10px;
}
.tips_addGroup{
	display: none;
	line-height: 24px;
	padding-left: 25px;
}

.formManager_searchTips{
	display: none;
	height: 24px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;
}
.searchTips_wrapper{
	height: 24px;
	padding: 0 10px;
	background-color: #EEEEEE;
	border-radius: 3px;
}
.searchTips_p{
	color: #757575;
	line-height: 24px;
}
.searchTips_searchVal{
	color: #2776A4;
}
.searchTips_delete{
	display: inline-block;
	width: 16px;
	height: 24px;
	margin-left: 10px;
	background: url(../images/icon/Shutdown01.png) 0 center no-repeat;
}

.formManager_detail{
	position: absolute;
	top: 140px;
	bottom: 10px;
	left: 0px;
	right: 0px;
	background: white;
}
.formDetail{
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #ffffff;
	margin: 0 50px 20px 50px;
	position: relative;
}

.formLoading {
	padding: 10px;
	text-align: center;
	color: #AAA;
	background: #EFEFEF;
}

.noForm{
	background: url(../images/icon/form_firstForm.png) 70px 0 no-repeat;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	color: #666;
	font-size: 14px;
	padding-top: 240px;
	text-align: center;
}
.noForm.group{
	background: url(../images/icon/form_noForm.png) 0 0 no-repeat;
}
.noForm .btn-form{
	margin-top: 20px;
}
.formName_input{
	display: inline-block;
	position: relative;
	height: 32px;
	line-height: 30px;
	font-size: 18px;
	color: #2776A4;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 0 5px;
	margin: 10px 20px; 
	outline: none;
	max-width: 90%;
	z-index: 10;
}
.input_border{
	border: 1px solid #609ED2;
}
.formSettings{
	height: 40px;
	background: #F5F5F5;
	font-size: 12px;
	border-top: 1px solid #D9D9D9;
}
.formSettings>a {
	display: inline-block;
	padding: 4px 10px 4px 30px;
	margin-top: 7px;
	margin-right: 20px;
	color: #333;
}
.formSettings>a:first-child{
	margin-left: 20px;
}

.form_editName{
	background: white url(../images/icon/settingBlue.png) 10px center no-repeat;
}
.form_edit {
	background: white url(../images/icon/editBlue.png) 10px center no-repeat;
}
.form_derive {
	background: white url(../images/icon/deriveBlue.png) 10px center no-repeat;
}
.form_preView {
	background: white url(../images/icon/previewBlue.png) 10px center no-repeat;
}
.dropdown_addGruop{
	z-index: auto;
	margin-top: 7px;
}
.form_addGroup{
	display: inline-block;
	padding: 4px 10px 4px 30px;
	color: #333;
	background: white url(../images/icon/folderBlue.png) 10px 4px no-repeat;
}
.form_addGroup .title{
	color: #333;
}
.form_groupList.dropUp{
	border-top: 1px solid #D0D0D0;
	border-bottom: 3px solid #3C8CBD;
}
.form_groupList li{
	min-width: 100px;
}
.form_groupList .removeGroup{
	min-width: 80px;
	padding-left: 30px;
	background: url(../images/icon/outGroup.png) 10px center no-repeat;
}

.btn_formDisable{
	background: white url(../images/icon/deriveBlue.png) 10px center no-repeat;
}
.form_copy {
	margin-top: 6px;
	background: white url(../images/icon/copyBlue.png) 10px center no-repeat;
}
.form_delete {
	margin-top: 6px;
	background: white url(../images/icon/crossGray.png) 10px center no-repeat;
}
.btn_downLoadFiles{
	float: right;
	margin-right: 10px;
	margin-top: 15px;
}
.btn_feedback{
	float: right;
	margin-right: 20px;
	margin-top: 15px;
}

.btn_settop {
	position: absolute;
	box-shadow: 0 1px 4px #2D4452;
	left: -75px;
	top: -18px;
	z-index: 60;
}

.is-top_logo {
	display: inline-block;
	width: 26px;
	height: 17px;
	background-image: url(../images/icon/formTop-s.png);
	background-repeat: no-repeat;
	background-position: 0 -17px;
}

.form_top .is-top_logo {
	background-position: 0 -34px;
}

.is-top_logo:hover {
	background-position: 0 0;
}

.settop_container{
	position: absolute;
	margin-top: 2px;
	margin-left: 2px;
	overflow: hidden;
	width: 80px;
	height: 27px;
}

.unread-num {
	position: absolute;
	height: 6px;
	background-color: #D03C33;
	padding: 7px;
	color: #FFF;
	right: 11px;
	top: 6px;
	display: inline-block;
	line-height: 7px;
	border-radius: 13px;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	box-shadow: 0 1px 1px #382f47;
}

.unread-num:hover {
	background-color: #d3473e;
}

.unread-num:visited {
	color: #fff5f4;
}

.form_top {
	background-color: #DAEAFF;
}

/*弹出窗*/

.popwin_input{
	width: 358px;
	padding: 5px 3px;
	margin: 20px 0;
	margin-top: 0;
}


.form_sort_btn, .searchForm_field {
	float: right;
	margin-top: 18px;
	margin-left: 10px;
}
.searchForm_input{
	width: 198px;
}
.searchForm_input.error:focus{
	border-color: #7A3230;
}
.searchForm_groupName{
	cursor: text;
}
.btn_searchForm{
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 2px;
	width: 16px;
	height: 16px;
	background: 0 center url(../images/icon/Search.png) no-repeat;
}
.btn_searchForm.delete{
	background-image: url(../images/icon/Shutdown.png);
}

.dropdown-placefix {
	right: 0;
}

/*logic 表单的样式*/
.form_logic_top,.form_logic_top .formName_input {
	background-color: #FFEFCB;
}


.logic .btn-primary {
	background-color: #E25E14;
	color: #FFF;
}

.logic .btn-primary:hover {
	background-color: #FF7F1A;
}

.logic .formName_input {
	color: #E25E14;
}

.logic .is-top_logo {
	background-image: url(../images/icon/formTop-so.png);
}

.logic .btn-minor:hover {
	color: #d47948;
}
.logic .form_addGroup:hover .title{
	color: #d47948;
}
.logic .dropdown_operate{
	border-top-color: #d47948;
}
.logic .form_groupList.dropUp{
	border-top-color: #D0D0D0;
	border-bottom-color: #d47948;
}
.logic .dropdown_operate li:hover {
	color: #d47948;
}

.logic .form_edit {
	background-image: url(../images/icon/editOrange.png);
}

.logic .form_editName{
	background-image: url(../images/icon/settingOrange.png);
}
.logic .form_derive {
	background-image: url(../images/icon/deriveOrange.png);
}
.logic .form_preView {
	background-image: url(../images/icon/previewOrange.png);
}
.logic .btn_formDisable{
	background-image: url(../images/icon/deriveOrange.png);
}
.logic .form_copy {
	background-image: url(../images/icon/copyOrange.png);
}
.logic .form_addGroup {
	background-image: url(../images/icon/folderOrange.png);
}
.logic .removeGroup{
	background-image: url(../images/icon/outGroupOrange.png);
}


.logic .input_border {
	border-color: #E25E14;
}

@media screen and (max-width: 1024px){
	.formManager_top{
		padding: 10px 20px;
	}
	.formManager_interim{
		margin: 8px 20px;
	}
	.formDetail{
		margin: 0 20px 20px 20px;
	}
	.formManager_searchTips{
		margin-left: 20px;
		margin-right: 20px;
	}
}