@CHARSET "UTF-8";
@charset "utf-8";
body, div, ol, ul, li, dl, dt, dd, input, img, h1, h2, a, th, tr, td, p, form{ font-weight:normal !important; text-shadow:none !important; margin:0; padding:0;}
ul li{ list-style:none;}
input{ background:none; border:none; outline:none;}
textarea{ background: none; border: none; outline: none; resize: none;}
a{ color:#0255c7; text-decoration:underline;}
body{ background-color:#e7e6e4; -webkit-tap-highlight-color:rgba(0,0,0,0);}

/* 清除浮动 */
.clear{ zoom:1}
.clear:after{ content:''; display:block; clear:both;}

/* swipe */
.swipe { height:100%; overflow: hidden; visibility: hidden; position: relative;}
.swipe-wrap { overflow: hidden; position: relative;}
.swipe-wrap > div { float:left; width:100%; height:100%; position: relative; overflow: auto;}

/* tab选项卡 */
.tab_control{width:100%;}
#control_title{ width:100%; height:100%;}
#control_title .title{ width:auto; background:none; text-align:center; float:left; cursor:default;}
.control_son{ width:auto;}
.control_son{ zoom:1}
.control_son:after{ content:''; display:block; clear:both;}

/* 按钮 */
.btn{ display:block; border-radius:5px; -moz-border-radius:5px; text-decoration:none; border: none; background: none; color:#fff}
.btn.submit{ width:100%; max-width:340px; height:46px; line-height:46px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#b30d00), to(#e31303)); box-shadow:0 4px 0 #cbcac8; font-size:20.25px; text-align:center; margin:auto;}
.btn.orange{ background-color: #f85e01;}
.btn.gray{ background-color: rgb(200,200,200);}

/* 会员提示信息（您还不是会员? 免费注册） */
.member_hint{ width:100%; height:24px; line-height:24px; text-align:center; font-size:14.63px;}

/* 复选框 */
.checkbox{ display:block; width: 21px; height: 20px; background:url(../img/mobile/checkbox.png) 0 0 no-repeat; background-size:cover;}
.checkbox.on{ background-position: 0 -20px;}

/* 产品类型 */
.product_type{ display:block; width:25px; height:23px; background:url(../img/product_type_bg.png) no-repeat; background-size:cover; float:left; font-size:0.8152em; color:#fff; line-height:23px; text-align:center;}

/* 星标记 */
.star{ text-align: center; font-size:28.13px; color: #b10d00;}

/* iframe */
iframe{ width: 100%; height: 100%; border: none; background: none;}

/* 弹出层 */
.popup{ position: fixed; width: 100%; height: 100%; background:rgba( 0, 0, 0, 0.5); top:0; left:0; z-index: 9999;}
.popup .popup_content{ background-color: #fff; border-radius:5px; -moz-border-radius:5px; margin: auto;}
.popup .popup_btns{ width: 100%; height:46px; border-top: 1px solid #c4c4c4; text-align: center;line-height: 46px; font-size: 17px;}
.popup .popup_btns div{ width: 50%; height: 46px; float: left;}
.popup .popup_btns .go{ width: 100%; height: 46px; color: #da4d00;}
.popup .popup_btns .yes{ border-left: 1px solid #c4c4c4; margin-left: -1px;}
.popup.alert .popup_content{ width: 270px;}
.popup.alert .popup_content .popup_text{ width: 215px; line-height:1.5; font-size:14px; color:#1e1e1e; padding:25px 0 20px; margin: auto;}
.popup.load{ background:rgba( 0, 0, 0, 0);}
.popup.load .popup_content{ background:rgba( 45, 45, 46, 0.8); width: 155px; height: 125px; border-radius:10px; -moz-border-radius:10px;}
.popup.load .popup_text{ padding-top: 30px;}
.popup.load .loading{ margin:0 auto 20px;}
.popup.load .text{ font-size: 11pt; text-align: center; color: #fff;}
/* loading */
.loading{
    display:block;
    width:40px; height:40px;
    background:url(../img/loading.png) 0 0 no-repeat;
    background-size:40px 40px;
    /*chrome*/
    -webkit-background-size:40px 40px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
    /*ff*/
    -moz-background-size:40px 40px;
    -moz-transition-property:-moz-transform;
    -moz-transition-duration:250ms;
    /*opera*/
    -o-background-size:40px 40px;
    -o-transition-property:-o-transform;
    -o-transition-duration:250ms;
}
.loading{
    background-position:0 100%;
    /*chrome*/
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;
    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    /*ff*/
    -moz-transform:rotate(0deg) translateZ(0);
    -moz-transition-duration:0ms;
    -moz-animation-name:loading;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    /*opera*/
    -o-transform:rotate(0deg) translateZ(0);
    -o-transition-duration:0ms;
    -o-animation-name:loading;
    -o-animation-duration:2s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
}
/*chrome*/
@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}
@-webkit-keyframes idle {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(0deg) translateZ(0); }
}
/*ff*/
@-moz-keyframes loading {
    from { -moz-transform:rotate(0deg) translateZ(0); }
    to { -moz-transform:rotate(360deg) translateZ(0); }
}
@-moz-keyframes idle {
    from { -moz-transform:rotate(0deg) translateZ(0); }
    to { -moz-transform:rotate(0deg) translateZ(0); }
}
/*opera*/
@-o-keyframes loading {
    from { -o-transform:rotate(0deg) translateZ(0); }
    to { -o-transform:rotate(360deg) translateZ(0); }
}
@-o-keyframes idle {
    from { -o-transform:rotate(0deg) translateZ(0); }
    to { -o-transform:rotate(0deg) translateZ(0); }
}
/* 注册头部黑框提示 */
.reg_failure{ width: 100%; line-height: 24px; padding:8px 0; background-color:#000; color:#fff; text-align: center; opacity:0.8; position: fixed; top:0; z-index: 999; display: none;}

.quickregister{ background-color: #fff;}
.quickregister img{ margin-bottom: -3px;}
.quickregister .header{ width: 100%; height: 32px; background-color: #fff; border-bottom:3px solid #bf1d16;}
.quickregister .header .logo{ width: 61px; height: 24px; background: url(../img/mobile/header_logo.png) no-repeat; background-size:cover; float: left; margin: 3px 0 0 20px;}
.quickregister .header .logo2{ width: 86px; height: 24px; background: url(../img/mobile/header_logo2.png) no-repeat; background-size:cover; float: left; margin: 6px 0 0 20px;}
.quickregister .header a{ display:block; height:32px; line-height: 32px; font-size:10px; color:#bf1d16; float: right; margin-right: 30px; text-decoration: none;}
.quickregister .title{ width: 100%; height: 30px; line-height: 30px; background-color:#d72927; font-size: 18px; color: #fff; text-indent: 26px;}
.quickregister .title span{ margin-left: 15px; font-size: 12px;}
.quickregister .reg_info{ width: 100%; padding: 5px 0; background-color: #e6e7e7;}
.quickregister .reg_box{ width: 320px; height:32px; margin: auto;}
.quickregister .reg_box .box_title{ width: 92px; height: 32px; line-height: 32px; font-size: 16px; color: #626365; text-indent: 6px; float: left;}
.quickregister .reg_box .box_text{ width: 228px; height: 32px; line-height: 32px; float: left;}
.quickregister .reg_box .box_text input.text{ width: 212px; height: 26px; line-height:26px; padding:0 5px; border: 1px solid #cdcece; background-color: #fff; float: left; margin-top: 2px; border-radius:2px; -moz-border-radius:2px; color: #626365;}
.quickregister .reg_box.code .box_text input.text, .reg_box.phonecode .box_text input.text{ width: 98px;}
.quickregister .reg_box .box_text #codeImage{ width: 106px; height: 26px; border: 1px solid #cdcece; float: left; margin: 2px 0 0 6px;}
.quickregister .reg_box.phonecode .btn{ width: 106px; height: 26px; border: 1px solid #d72927; border-radius:2px; -moz-border-radius:2px; background-color:#fff; color: #d72927; float: left; margin: 3px 0 0 6px;}
.quickregister .agree{ width: 300px; height:40px; line-height:40px; margin: auto;}
.quickregister .agree .checkbox{ float: left; margin: 10px 5px 0 0;}
.quickregister .btn.red{ width: 100px; height: 24px; border-radius:2px; -moz-border-radius:2px; background-color: #d72927; font-size:16px; color: #fff; margin: auto;}
@media screen and (min-width:641px){
	.quickregister{ width: 640px; margin: auto;}
}

























