﻿@charset "utf-8";

html {
	background-color: #f7cf68;
	color:#333333;
	background-position:left top;
}
.fs_main {
	width:640PX
}
.fs_cTitle {
	font-size:16PX;
	line-height:25PX;
}
.fs_content {
	font-size:14px;
}
@media screen and (max-width:640PX) {
div.fs_main {
width:100%;
}
}
div.f_share {
	left:640PX
}
div.f_share_main {
	width:640PX
}
@media screen and (max-width:862px) {
div.f_share {
display:none;
}
}
.fs_cValidate {
	color:#231a15;
}
.fs_cDescribe a, .fs_cDescribe a:visited {
	color:#564b85
}
.fs_cDescribe, .fs_cLink, .fs_cLink:visited {
	color:#564b85
}
.fs_cExtraDescribe {
	color:#564b85
}
.fs_sectionDescribe, .fs_imgDescribe {
	color:#564b85
}
.fs_component {
	background-color: #cbbc84;
	color:#231a15
}
.fs_header {
	background-color: #9c694e;
	color:#333333;
}
.fs_main {
	background-color: #f6e8b1;
	color:#231a15;
}
.fs_submitBtn {
	background-color:#9c694e;
	color:#fff;
	box-shadow: 0 2px 4px -2px #b28067;
}
.fs_submitBtn:hover {
	background-color:#b28067
}
.f_copyright .fs_powerby {
	color:#333;
}
.Zebra_DatePicker td.dp_selected {
	background-color:#9c694e;
	color:#fff;
}
.Zebra_DatePicker td.dp_current {
	color:#b28067
}