<link rel="stylesheet" type="text/css" href="/Public/uploadify/uploadify.css" />
<script src="/Public/uploadify/jquery.min.js" type="text/javascript"></script> 
<!--防止客户端缓存文件，造成uploadify.js不更新，而引起的“喔唷，崩溃啦”-->
<script>document.write("<script type='text/javascript' "
			+ "src='/Public/uploadify/jquery.uploadify.js?" + new Date()
			+ "'></s" + "cript>");
</script>
<script src="/Public/uploadify/uploadify-move.js" type="text/javascript"></script> 



<div class="avatar_box"> <img id="image" src="/Public/images/130_{$u.photo}" width="130" height="130" border="0" />
    <div class="upload_avatar"><input id="file_upload" name="file_upload" type="file" multiple="true" value="" /></div>
 </div>
 
 
 
 <script type="text/javascript">
$(function() {
    $('#file_upload').uploadify({
        'swf'      : '/Public/uploadify/js/uploadify.swf',
        'uploader' : '/Index/uploadify',
        'buttonText' : '上传头像',
        'onUploadSuccess' : function(file, data, response) {
            $('#image').attr('src','/Public/images/130_'+data);
            $('#pic').val(data);
        },
    });
 });
 </script>